﻿@using Newtonsoft.Json
@using Core
@model Users
@{
    ViewBag.Title = "File Upload";
    Layout = "";
}
<html lang="en">
<head>
    <!-- Force latest IE rendering engine or ChromeFrame if installed -->
    <!--[if IE]>
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <![endif]-->

    <meta charset="utf-8" />
    <title>jQuery File Upload Demo</title>
    <meta name="description"
          content="File Upload widget with multiple file selection, drag&amp;drop support, progress bars, validation and preview images, audio and video for jQuery. Supports cross-domain, chunked and resumable file uploads and client-side image resizing. Works with any server-side platform (PHP, Python, Ruby on Rails, Java, Node.js, Go etc.) that supports standard HTML form file uploads." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
        .fade.in {
            opacity: 1 !important;
        }
    </style>
    <!-- Bootstrap styles -->

    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

    <!-- blueimp Gallery styles -->
    <link href="~/libCustom/blueimp-gallery.min.css" rel="stylesheet" />
    <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->

    <link href="~/libCustom/jquery.fileupload/jquery.fileupload.css" rel="stylesheet" />
    <link href="~/libCustom/jquery.fileupload/jquery.fileupload-ui.css" rel="stylesheet" />
    <!-- CSS adjustments for browsers with JavaScript disabled -->
    <noscript>
        <link href="~/libCustom/jquery.fileupload/jquery.fileupload-noscript.css" rel="stylesheet" />
    </noscript>
    <noscript>
        <link href="~/libCustom/jquery.fileupload/jquery.fileupload-ui-noscript.css" rel="stylesheet" />
    </noscript>
    <link href="~/libCustom/FontAwesome/css/all.css" rel="stylesheet" />


</head>
<body>
    <div class="container">

        <!-- The file upload form used as target for the file upload widget -->
        <form id="fileupload"
              action="https://jquery-file-upload.appspot.com/"
              method="POST"
              enctype="multipart/form-data">
            <!-- Redirect browsers with JavaScript disabled to the origin page -->
            <noscript>
                <input type="hidden"
                       name="redirect"
                       value="https://blueimp.github.io/jQuery-File-Upload/" />
            </noscript>
            <input class="form-control" type="hidden" name="recordid" value="TestFolder" />
            <input class="form-control" type="hidden" name="fieldid" value="JqueryUpload" />
            <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
            <div class="row fileupload-buttonbar">
                <div class="col-lg-7">
                    <!-- The fileinput-button span is used to style the file input field as button -->
                    <span class="btn btn-success fileinput-button">
                        <i class="fas fa-plus"></i>                 
                        <input type="file" name="files[]" multiple />
                    </span>
                    <button type="submit" class="btn btn-primary start" title="Start upload">
                        <i class="fas fa-upload"></i>                
                    </button>
                    <button type="reset" class="btn btn-warning cancel" title="Cancel Upload">
                        <i class="fas fa-ban"></i>          
                    </button>
                    <button type="button" class="btn btn-danger delete" title="Delete selected">
                        <i class="fas fa-trash-alt"></i>                   
                    </button>
                    <input type="checkbox" class="toggle toggleclick" />
                    <!-- The global file processing state -->
                    <span class="fileupload-process"></span>
                </div>
                <!-- The global progress state -->
                <div class="col-lg-5 fileupload-progress fade">
                    <!-- The global progress bar -->
                    <div class="progress progress-striped active"
                         role="progressbar"
                         aria-valuemin="0"
                         aria-valuemax="100">
                        <div class="progress-bar progress-bar-success"
                             style="width: 0%;"></div>
                    </div>
                    <!-- The extended global progress state -->
                    <div class="progress-extended">&nbsp;</div>
                </div>
            </div>
            
            <!-- The table listing the files available for upload/download -->
            <div role="presentation" class="table table-striped">
                <div class="files foldergroup"></div>
            </div>
        </form>

    </div>
    <!-- The blueimp Gallery widget -->
    <div id="blueimp-gallery"
         class="blueimp-gallery blueimp-gallery-controls"
         data-filter=":even">
        <div class="slides"></div>
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>
    <script id="foldertemplate" type="text/x-tmpl">
        <div class="list-group pmd-list pmd-card-list foldergroup" >            
            <div class="list-group-item list-group-item-action d-flex align-items-center pl-1 pb-0 pt-0 droptarget" >
                <div class="media-body d-flex flex-row" style="height:45px !important;top:10px !important; position:relative;"    >
                    <div class="d-flex flex-row" data-toggle="collapse" href="#{%=o.name%}col" >
                        <i class="text-warning fa fa-folder fa-lg mt-1 mr-3" ></i>
                        <p class="name"  href="#{%=o.name%}col">{%=o.dirname%}</p>
                    </div>
           
                    <input type="checkbox" class="mt-2 ml-3 toggle " onclick="ToggleClick('{%=o.name%}',this);"/>
                </div>
                <i class="ml-4 fa fa-chevron-down " data-toggle="collapse" href="#{%=o.name%}col" ></i>
                
            </div>
            <div class="collapse pl-3" id="{%=o.name%}col" >
                <div  >
                    <div class="list-group-item list-group-item-action pmd-list-item-inset folder" id="{%=o.name%}"  >
                    </div>
                </div>
            </div>
        </div>
    </script>
    <!-- The template to display files available for upload -->
    <script id="template-upload" type="text/x-tmpl">
        {% for (var i=0, file; file=o.files[i]; i++) { %}
        {% o.name = file.relativePath + file.name;%}
        <div class="template-upload fade m-1 border" >
            <div class="d-flex row pl-4 pt-1">
                <div class="d-flex justify-content-start col-md-5">
                    <div class="d-flex row col-md-12">
                        <div class="d-flex justify-content-start mt-1 mr-2 col-md-12">
                            <span>{%=file.name%}</span>              
                            <strong class="error text-danger"></strong>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end col-md-7">
                    <div class="d-flex flex-row col-md-7">
                        <p class="size mr-auto  mt-1">Processing...</p>
                        <div class="progress progress-striped active mt-2 col-md-9" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
                    </div>
                    <div class="d-flex flex-row col-md-2 mt-2">
                        {% if (!o.options.autoUpload && o.options.edit && o.options.loadImageFileTypes.test(file.type)) { %}
                        <i class="text-success fas fa-edit  edit mr-2 ml-2 fa-lg" title="Edit Upload" style="cursor:pointer;"></i>
                        {% } %}
                        {% if (!i && !o.options.autoUpload) { %}
                        <i class="text-primary start mr-2 ml-2 fas fa-upload fa-lg" titi="Start Upload" style="cursor:pointer;"></i>
                        {% } %}
                        {% if (!i) { %}
                        <i class="text-warning cancel mr-2 ml-2 fas fa-ban fa-lg" title="Cancal Upload" style="cursor:pointer;"></i>
                        {% } %}
                    </div>
                    <div class="d-flex row col-md-3"><span class="preview"></span>   </div>
                </div>
            </div>
        </div>
        {% } %}

    </script>
    <!-- The template to display files available for download -->
    <script id="template-download" type="text/x-tmpl">
        {% for (var i=0, file; file=o.files[i]; i++) { %}
        <div class="template-download fade m-1 border">
            <div class="d-flex row pl-4 pt-1">
                <div class="d-flex justify-content-start col-md-5">
                    <div class="d-flex row col-md-12">
                        <div class="name d-flex justify-content-start mt-1 mr-2 col-md-12">
                            
                            {% if (file.url) { %}
                            <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                            {% } else { %}
                            <span>{%=file.relativePath%}{%=file.name%}</span>
                            {% } %}

                            {% if (file.error) { %}
                            <div><span class="label label-danger">Error</span> {%=file.error%}</div>
                            {% } %}
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end col-md-7">
                    <div class="d-flex flex-row col-md-7">
                        <span class="size">{%=o.formatFileSize(file.size)%}</span>                       
                    </div>
                    <div class="d-flex flex-row col-md-2 mt-2">
                        {% if (file.deleteUrl) { %}
                        <i class="text-danger fas fa-trash-alt delete" style="cursor:pointer;" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}" {% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}' {% } %}></i>
                        <input type="checkbox" name="delete" value="1" class="toggle toggleclick">
                        {% } else { %}
                        <i class="text-warning cancel mr-2 ml-2 fas fa-ban fa-lg" title="Cancal Upload" style="cursor:pointer;"></i>
                        {% } %}
                    </div>
                    <div class="d-flex row col-md-3">
                        <span class="preview" >
                            {% if (file.thumbnailUrl) { %}
                            <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}" style="max-height:45px;" ></a>
                            {% } %}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        {% } %}
    </script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/libCustom/FontAwesome/js/fontawesome.js"></script>
    <!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
    <script src="~/libCustom/jquery.fileupload/vendor/jquery.ui.widget.js"></script>

    <!-- The Templates plugin is included to render the upload/download listings -->
    <script src="~/libCustom/tmpl.min.js"></script>
    <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
    <script src="~/libCustom/load-image.all.min.js"></script>
    <!-- The Canvas to Blob plugin is included for image resizing functionality -->
    <script src="~/libCustom/canvas-to-blob.min.js"></script>
    <!-- blueimp Gallery script -->
    <script src="~/libCustom/jquery.blueimp-gallery.min.js"></script>
    <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
    <script src="~/libCustom/jquery.fileupload/jquery.iframe-transport.js"></script>
    <!-- The basic File Upload plugin -->
    <script src="~/libCustom/jquery.fileupload/jquery.fileupload.js"></script>
    <!-- The File Upload processing plugin -->
    <script src="~/libCustom/jquery.fileupload/jquery.fileupload-process.js"></script>
    <!-- The File Upload image preview & resize plugin -->
    <script src="~/libCustom/jquery.fileupload/jquery.fileupload-image.js"></script>
    <!-- The File Upload audio preview plugin -->
    <script src="~/libCustom/jquery.fileupload/jquery.fileupload-audio.js"></script>
    <!-- The File Upload video preview plugin -->
    <script src="~/libCustom/jquery.fileupload/jquery.fileupload-video.js"></script>
    <!-- The File Upload validation plugin -->
    <script src="~/libCustom/jquery.fileupload/jquery.fileupload-validate.js"></script>
    <!-- The File Upload user interface plugin -->
    <script src="~/libCustom/jquery.fileupload/jquery.fileupload-ui.js"></script>
    <!-- The main application script -->
    <script src="~/libCustom/jquery.fileupload/demo.js"></script>
    <!-- The XDomainRequest Transport is included for cross-domain file deletion for IE 8 and IE 9 -->
    <!--[if (gte IE 8)&(lt IE 10)]>
      <script src="js/cors/jquery.xdr-transport.js"></script>
    <![endif]-->

</body>
</html>
