﻿@using Newtonsoft.Json
@using Core
@using MVCCore.Models
@model Users
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@section css
{

}

    <div class="col-md-4">
        <div class="text-center mb-4">
            <h1 class="h3 mb-3 font-weight-normal">Floating labels</h1>
            <p>Build form controls with floating labels via the <code>:placeholder-shown</code> pseudo-element. <a href="https://caniuse.com/#feat=css-placeholder-shown">Works in latest Chrome, Safari, and Firefox.</a></p>
        </div>

        <div class="form-label-group">
            <label>User name</label>
            <input type="text" id="UserName" class="form-control" placeholder="User Name" value="Admin" required="">
        </div>
       
        <div class="form-label-group">
            <label>Password</label>
            <input type="password" id="Password" class="form-control" placeholder=" Password" required="">

        </div>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button id="Login" class="btn btn-lg btn-primary btn-block">Sign in</button>
        <p class="mt-5 mb-3 text-muted text-center">© 2017-2018</p>
    </div>



@section scripts
    {
    <script>
        'use strict';  
        $(document).ready(function() {
            $("#Reset").on("click", function () {
                localStorage.clear();
            });
            $("#Login").on("click", function(eve) {
                ShowBusy();
                var loginInfo = { "@Users.FieldsId.UserId": $("#UserName").val(), "@Users.FieldsId.Password": $("#Password").val() };
                $.ajax({
                    url: '@Url.Action("Login", "Home")',
                    "contentType": "application/x-www-form-urlencoded; charset=UTF-8",
                    type: "POST",
                    dataType: 'json',
                    data: { "loginInfo": loginInfo },
                    beforeSend: function() {
                    },
                    success: function(data, status, jqXHR) {
                        ShowReady();
                        if (data.Code == "Fail") {
                            $("#Error").removeClass("display-hide");
                            ShowModal("Login Fail",data.Message)
                        } else if (data.Code == "Success") {
                            window.location.href = data.Obj;
                        }

                    },
                    error: function(jqXHR, status, err) {
                        CaptureError(err);
                        ShowReady();
                    },
                    complete: function(jqXHR, status) {

                    }
                });
            });

            $("#backBtn").hide();
            $("#forwardBtn").hide();
        });
    </script>
}