﻿@using Newtonsoft.Json
@using Core
@model Users
@{
    ViewBag.Title = "QR Scanner";
    Layout = "";
}

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WebCodeCamJS</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

    <link href="~/libCustom/webcodecamjquery/css/style.css" rel="stylesheet">
</head>
<body>
    <!-- Button trigger modal -->
    <div class="container">
        <div class="row">
            <div class="col-md-12 align-self-md-center"><select class="form-control" id="cameraselect"></select></div>
            <div class="col-md-12" style="height:100vh;">
                <canvas id="canvascamera" class="col-md-12" style="height:90%;"></canvas>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="QRResult" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <textarea id="qrcontent" class="form-control" style="width:100%;height:80%;"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="Rescan();">Rescan</button>
                    <button type="button" class="btn btn-primary" onclick="Redirect();">Redirect</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <!-- Using jquery version: -->

    <script type="text/javascript" src="~/libCustom/webcodecamjquery/js/jquery.js"></script>

    <script type="text/javascript" src="~/libCustom/webcodecamjquery/js/qrcodelib.js"></script>
    <script type="text/javascript" src="~/libCustom/webcodecamjquery/js/webcodecamjquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script>
        var decoder;
        function Rescan() {
            // $("#QRResult").modal("hide");
            decoder.play();

        }
        function Redirect() {
            window.location.href = $('#qrcontent').val();
        }

        var args = {

            autoBrightnessValue: 100,
            resultFunction: function (res) {


                //[].forEach.call(scannerLaser, function (el) {
                //    $(el).fadeOut(300, function () {
                //        $(el).fadeIn(300);
                //    });
                //});
                decoder.stop();
                $("#qrcontent").val(res.code);
                $("#QRResult").modal({
                    backdrop: 'static',
                    show: true,
                    keyboard: true //Enables user to press 'Esc' and close modal
                });


            },
            getDevicesError: function (error) {
                var p, message = "Error detected with the following parameters:\n";
                for (p in error) {
                    message += (p + ": " + error[p] + "\n");
                }
                alert(message);
            },
            getUserMediaError: function (error) {
                var p, message = "Error detected with the following parameters:\n";
                for (p in error) {
                    message += (p + ": " + error[p] + "\n");
                }
                alert(message);
            },
            cameraError: function (error) {
                var p, message = "Error detected with the following parameters:\n";
                if (error.name == "NotSupportedError") {
                    var ans = confirm("Your browser does not support getUserMedia via HTTP!\n(see: https://goo.gl/Y0ZkNV).\n You want to see github demo page in a new window?");
                    if (ans) {
                        window.open("https://andrastoth.github.io/webcodecamjs/");
                    }
                } else {
                    for (p in error) {
                        message += p + ": " + error[p] + "\n";
                    }
                    alert(message);
                }
            },
            cameraSuccess: function () {

            }
        };
        decoder = $("#canvascamera").WebCodeCamJQuery(args).data().plugin_WebCodeCamJQuery;
       
        decoder.buildSelectMenu("#cameraselect", 0).init(args);
        decoder.play();
        $("#cameraselect").on("change", function () {
            if (decoder.isInitialized()) {
                decoder.stop().play();
            }
        });
    </script>
</body>
</html>


