﻿.blend {
  mix-blend-mode: exclusion;

}
.formlabel {
    max-width: 250px;
    min-width: 150px;
    text-align: right;
    font-weight: bold;
    padding-right:10px;
}
/* Placeholders */
.placeholders {
  padding-bottom: 3rem; }

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }

exy dace
.select2 {
  width: 100%; }

/*span.select2-container {
    z-index: 10050 !important;
}*/
span.select2-containermodal {
  z-index: 10050 !important; }

span.select2-results {
  z-index: 10051 !important; 

}
.select2-container--open {
    z-index: 10051 !important;
}

.editable {
  display: flex;
  align-items: center;
  justify-content: center; }

.boxcontent {
  display: flex;
  flex-wrap: nowrap;
  background-color: #e4e4e4;
  width: auto;
  margin: 1px;
  padding: 0px 0px 0px 0px;
  text-align: center;
  border: 1px solid #aaa;
  border-radius: 1px; }

.itembox {
  display: flex;
  flex-wrap: nowrap; }

.itembox > div {
  background-color: #e4e4e4;
  width: auto;
  margin: 4px;
  padding: 2px 5px 2px 5px;
  text-align: center;
  border: 1px solid #aaa;
  border-radius: 4px; }

.sortablelist {
  list-style-type: square;
  margin: 0;
  padding: 0;
  width: 60%; }

.sortablelist li {
  margin: 0 3px 3px 3px;
  font-size: 1.4em;
  width: 100%; }

.sortablelist li span {
  position: relative;
  margin-left: 0px;
  width: 100%; }

.ui-sortable > li {
  display: table-row; }

.buttonMargin {
  margin: 5px; }

.select2 {
  width: 100px; }

.fullscreenMode {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  width: 100%;
  top: 0px;
  left: 0px;
  padding-top: 0px;
  padding-left: 10px;
  position: fixed;
  background-color: white;
  opacity: 1;
  z-index: 999999;
  overflow-x: hidden; }

html, body {
  max-width: 100%;
  overflow-x: hidden; }

.modal-dialog-full-width {
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    max-width: none !important;
}

.modal-content-full-width {
    height: auto !important;
    min-height: 100% !important;
    border-radius: 0 !important;
    background-color: #ececec !important
}

.modal-header-full-width {
    border-bottom: 1px solid #9ea2a2 !important;
}

.modal-footer-full-width {
    border-top: 1px solid #9ea2a2 !important;
}

.select2-container .select2-selection--multiple .select2-selection__choice {
    font-size: 12px;
    max-width: 100%;
    box-sizing: border-box;
    white-space: normal;
    word-wrap: break-word;
}

li.select2-selection__choice {
    font-size: 12px;
    max-width: 100%;
    overflow: hidden;
    /*Altered two below to make word wrap work */
    word-wrap: normal !important;
    white-space: normal;
}

ul.select2-selection__rendered {
    padding-right: 12px !important;
}

.select2drop {
    font-size: 12px;
}
.onchangeform {
    border: solid;
    border-color: lightgreen;
    border-radius: 3px;
}
.flex-row > .select2 {
    padding: 15px !important;
}