﻿@using Newtonsoft.Json
@using MVCCore.Controllers
@model Users

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="~/logo.ico">
    @*<link rel="icon" type="image/png" href="~/Logo.png" />*@
    <link href="~/lib/jqueryui/jquery-ui.css" rel="stylesheet" />

    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/metisMenu/metisMenu.css" rel="stylesheet" />
    <!-- libman -->


    <link href="~/lib/float-label-css/float-label.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-switch/css/bootstrap3/bootstrap-switch.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-colorpicker/css/bootstrap-colorpicker.css" rel="stylesheet" />
    <link href="~/lib/select2/css/select2.css" rel="stylesheet" />

    <link href="~/lib/summernote/summernote-bs4.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-colorpicker/css/bootstrap-colorpicker.css" rel="stylesheet" />

    <link href="~/lib/ajax-bootstrap-select/css/ajax-bootstrap-select.css" rel="stylesheet" />
    <link href="~/lib/iCheck/skins/all.css" rel="stylesheet" />
    <link href="~/lib/jquery-minicolors/jquery.minicolors.css" rel="stylesheet" />
    <link href="~/jquery-toast-plugin/jquery.toast.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-datetimepicker/css/tempusdominus-bootstrap-4.css" rel="stylesheet" />
    <!-- Web Url Link-->


    <link href="~/libCustom/DataTables/datatables.css" rel="stylesheet" />

    <link href="~/libCustom/FontAwesome/css/all.css" rel="stylesheet" />
    <!-- blueimp Gallery styles -->
    <link href="~/libCustom/blueimp-gallery.min.css" rel="stylesheet" />
    <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
    <link rel="stylesheet" href="~/libCustom/jquery.fileupload/jquery.fileupload.css" />
    <link rel="stylesheet" href="~/libCustom/jquery.fileupload/jquery.fileupload-ui.css" />
    <!-- CSS adjustments for browsers with JavaScript disabled -->
    <noscript>
        <link rel="stylesheet" href="~/libCustom/jquery.fileupload/jquery.fileupload-noscript.css" />
    </noscript>
    <noscript>
        <link rel="stylesheet" href="~/libCustom/jquery.fileupload/jquery.fileupload-ui-noscript.css" />
    </noscript>
    <!-- Custom Lib-->
    <link href="~/lib/jstree/themes/default/style.min.css" rel="stylesheet" />
    <link href="~/lib/jstree/themes/default-dark/style.min.css" rel="stylesheet" />
    <link href="~/css/custom.css" rel="stylesheet" />
    <!--Custum Style-->

    @RenderSection("css", false)
</head>
<body>
    <div id="hedaercontainer">
        @{await Html.RenderPartialAsync("HeaderViewPartial", Model); }
    </div>


    <div class="pt-5">
        <div class="row">
            <div id="sidebar-container" class="sidebar-expanded col-2 d-none d-md-block">
                @{await Html.RenderPartialAsync("SideBarViewPartial", Model); }
            </div>
            <div id="bodyContainer" class="col-10">
                @RenderBody()
            </div>
        </div>
    </div>


    <!-- libman -->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/lib/metisMenu/metisMenu.js"></script>


    <script src="~/lib/jqueryui/jquery-ui.js"></script>
    <script src="~/js/signalr/signalr.js"></script>

    <script src="~/lib/jquery-easing/jquery.easing.js"></script>
    <script src="~/lib/jquery.blockUI/jquery.blockUI.js"></script>
    <script src="~/lib/jstree/jstree.min.js"></script>
    <script src="~/lib/bootstrap-switch/js/bootstrap-switch.js"></script>
    <script src="~/lib/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
    <script src="~/lib/iCheck/icheck.js"></script>
    <script src="~/lib/jquery.mask/jquery.mask.js"></script>
    <script src="~/lib/select2/js/select2.full.js"></script>
    <script src="~/lib/summernote/summernote-bs4.js"></script>
    <script src="~/lib/jQuery-Knob/jquery.knob.min.js"></script>

    <script src="~/lib/ajax-bootstrap-select/js/ajax-bootstrap-select.js"></script>
    <script src="~/lib/bootbox/bootbox.js"></script>
    <script src="~/lib/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
    <script src="~/lib/jquery-minicolors/jquery.minicolors.js"></script>
    <script src="~/lib/ace/ace.js"></script>
    <script src="~/lib/ace/ext-beautify.js"></script>
    <script src="~/lib/ace/ext-language_tools.js"></script>
    <script src="~/jquery-toast-plugin/jquery.toast.min.js"></script>
    <script src="~/lib/moment.js/moment.js"></script>
    <script src="~/lib/bootstrap-datetimepicker/js/tempusdominus-bootstrap-4.js"></script>
    <script src="~/lib/FileSaver.js/FileSaver.js"></script>

    <!-- Web Url Link-->
    <!--Custom Lib -->
    <script src="~/libCustom/DataTables/datatables.min.js"></script>
    <script src="~/libCustom/FontAwesome/js/all.js"></script>
    <!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
    <script src="~/libCustom/jquery.fileupload/vendor/jquery.ui.widget.js"></script>
    <!-- The Templates plugin is included to render the upload/download listings -->
    <script src="~/libCustom/tmpl.min.js"></script>
    <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
    <script src="~/libCustom/load-image.all.min.js"></script>
    <!-- The Canvas to Blob plugin is included for image resizing functionality -->
    <script src="~/libCustom/canvas-to-blob.min.js"></script>
    <!-- blueimp Gallery script -->
    <script src="~/libCustom/jquery.blueimp-gallery.min.js"></script>
    <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
    <script src="~/libCustom/jquery.fileupload/jquery.iframe-transport.js"></script>
    <!-- The basic File Upload plugin -->
    <script src="~/libCustom/jquery.fileupload/jquery.fileupload.js"></script>
    <!-- The File Upload processing plugin -->
    <script src="~/libCustom/jquery.fileupload/jquery.fileupload-process.js"></script>
    <!-- The File Upload image preview & resize plugin -->
    <script src="~/libCustom/jquery.fileupload/jquery.fileupload-image.js"></script>
    <!-- The File Upload audio preview plugin -->
    <script src="~/libCustom/jquery.fileupload/jquery.fileupload-audio.js"></script>
    <!-- The File Upload video preview plugin -->
    <script src="~/libCustom/jquery.fileupload/jquery.fileupload-video.js"></script>
    <!-- The File Upload validation plugin -->
    <script src="~/libCustom/jquery.fileupload/jquery.fileupload-validate.js"></script>
    <!-- The File Upload user interface plugin -->
    <script src="~/libCustom/jquery.fileupload/jquery.fileupload-ui.js"></script>
    <script src="~/lib/webcodecamjs/js/webcodecamjquery.js"></script>
    <script src="~/lib/webcodecamjs/js/qrcodelib.js"></script>
    <script src="~/lib/webcodecamjs/js/webcodecamjs.js"></script>
    <script src="~/libCustom/jquery-qrcode.js"></script>
    <!-- Custom Script-->
    <script src="~/js/CreateElement.js"></script>
    <script src="~/js/Global.js"></script>
    <script src="~/js/EditForm.js"></script>
    <script src="~/js/Menu.js"></script>
    <script src="~/js/Schema.js"></script>
    <script src="~/js/SideBar.js"></script>
    <script src="~/js/KeyValue.js"></script>
    <script src="~/js/SourceEditor.js"></script>
    <script src="~/js/sortableselect2.js"></script>
    <script src="~/js/componentinit/initcodeeditor.js"></script>
    <script src="~/js/componentinit/initcolor-picker.js"></script>
    <script src="~/js/componentinit/initdatatable.js"></script>
    <script src="~/js/componentinit/initdatetimepicker.js"></script>
    <script src="~/js/componentinit/initiCheck.js"></script>
    <script src="~/js/componentinit/initMask.js"></script>
    <script src="~/js/componentinit/initselect2.js"></script>
    <script src="~/js/componentinit/initsummernote.js"></script>
    <script src="~/js/componentinit/initswitch.js"></script>
    <script src="~/js/componentinit/AutoComplete.js"></script>
    <script src="~/js/componentinit/initFileUpload.js"></script>
    <script src="~/js/componentinit/initQR.js"></script>
    <script src="~/js/componentinit/initCodeCam.js"></script>
    <script src="~/js/BackupAndRestore.js"></script>
    <script src="~/js/Development.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>

    <script>
        "use strict";


    function UrlAction(actionName, controllerName) {
        //var result = "";
        @*$.ajax({
            url: '@Url.Action("UrlAction", "Home")',
            type: "Post",
            data: {"actionName": actionName, "controllerName": controllerName },
            async: false,
            success: function(data) {
                switch (data.Code) {
                case "Success":
                    result = data.Obj;
                    break;
                case "Fail":
                    CaptureError(data.Message);
                    break;
                }

            },
            error: function (xhr, ajaxOptions, thrownError) {
                CaptureError(thrownError + xhr.statusText + " " + xhr.statusCode + " " + xhr.responseText);
            }
        });*@
        return "/" + controllerName + "/" + actionName ;
        }
        function GetWords(keyword,noregexclean) {
            var result = "";
            noregexclean = noregexclean || false;
            $.ajax({
                url: UrlAction("GetWords","Data"),
                type: "Post",
                data: { "keyWord": keyword, "noregexclean": noregexclean },
                  async: false,
                  success: function(data) {
                      result = data;
                  },
                  error: function (xhr, ajaxOptions, thrownError) {
                      CaptureError(thrownError + xhr.statusText + " " + xhr.statusCode + " " + xhr.responseText);
                  }
              });
        return result;
        }

        $(document).ready(function () {
       //     $.fn.modal.Constructor.prototype.enforceFocus = function () { };
    InitSidebar("SideBar", "Menu");
    var defaultTableName = "@ViewBag.TableName";
        var userName = "@Model.UserName";

        var connection = new signalR.HubConnectionBuilder().withUrl("/serverHub").build();
        connection.on("UpdateLoginName", function (name, connectionId) {
            $('#LoginUserName').html("<i class='fa fa-user fa-fw'></i>" + name);
            var url = UrlAction("RegisterHug", "Home");
            AjaxRequestAsync(url, { connectionId: connectionId }, null, null, null);
        });

        connection.on("UpdateChanged", function (userid, changeresult) {
            for (var record in changeresult) {
                var id = changeresult[record]["Id"];
                for (var name in changeresult[record]) {

                    $("#" + name + id).text(" Modify by " + userid);
                    var elements = $("[name='" + (name + id) + "']");
                    jQuery.each(elements, function (i, element) {
                        if ($(element).hasClass("ICheckList")) {
                            var checked = jQuery.parseJSON(changeresult[record][name]);
                            if ($.inArray(element.value, checked) >= 0) {

                                $(element).iCheck("check");
                            }
                            else {
                                $(element).iCheck("uncheck");
                            }
                        }
                        else if ($(element).is(":checkbox") && $(element).hasClass("switchbox")) {
                            if (changeresult[record][name] == "true") {
                                $(element).bootstrapSwitch({});
                            }
                            else {
                                $(element).bootstrapSwitch({});
                            }
                        }
                        else if (element && $(element).is(":checkbox")) {
                            if (changeresult[record][name] == "true") {
                                $(element).iCheck("check");
                            }
                            else {
                                $(element).iCheck("uncheck");
                            }
                        }
                        else if ($(element).hasClass("js-data-ajax") || $(element).hasClass("js-data-ajax-multiple")) {
                            var selectedvalues = jQuery.parseJSON(changeresult[record][name]);
                            var url = $(element).data("url");
                            var source = $(element).data("source");
                            $(element).select2("val", "");
                            var items = GetSelect2ItemById(url, source, selectedvalues);
                            $.each(items, function (index, value) {
                                var option = new Option(items[index].text, items[index].id, true, true);
                                element.append(option);
                            });
                            $(element).trigger("change");
                        }
                        else if ($(element).hasClass("select2") || $(element).hasClass("select2-multiple")) {
                            var selectedvalues = jQuery.parseJSON(changeresult[record][name]);
                            if (selectedvalues == null || selectedvalues.lenght == 0) {
                                $(element).select2("val", "");
                            }
                            else {
                                $(element).select2("val", selectedvalues);
                            }

                        }
                        else if ($(element).attr("type") == "radio") {
                            if (changeresult[record][name] == $(element).val()) {
                                $(element).iCheck("check");
                            }

                        }
                        else if ($(element).hasClass("Mask")) {
                            $(element).val(changeresult[record][name]);
                        }
                        else if ($(element).hasClass("date")) {

                            $(element).find("input").first().val(changeresult[record][name]);

                        }
                        else {
                            $(element).val(changeresult[record][name]);
                        }


                    });
                }

            }

        });


        connection.start()
            .then(function ()
            {
                if (userName != null) {
                    connection.invoke("RegisterHub", userName);
                }

            })
            .catch(function (err) {

            return console.error(err.toString());
        });


        });


    </script>
    @RenderSection("Scripts", required: false)



    <div class="modal fade right" id="modalbasic" tabindex="-1" role="dialog" aria-labelledby="examplemodalbasic" aria-hidden="true">
        <div class="modal-dialog-full-width modal-dialog momodel modal-fluid" role="document">
            <div class="modal-content-full-width modal-content ">
                <div class=" modal-header-full-width   modal-header text-center">
                    <h5 class="modal-title w-100" id="modaltitle" ></h5>
                    <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                        <span style="font-size: 1.3em;" aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="modalbody"></div>                   
                </div>
                <div class="modal-footer-full-width  modal-footer">
                    <button type="button" class="btn btn-danger btn-md btn-rounded" data-dismiss="modal">Close</button>                 
                </div>
            </div>
        </div>
    </div>

  

</body>

</html>
