﻿@model MVCCore.Models.FileUploadModel
<div id="ng-app" ng-app="app">
    <div class="droparea bordered" style="outline: 5px solid red;" data-accept='@Model.Accept' data-tablename="@Model.TableName" data-refid="@Model.FieldId" ng-controller="AppController"  uploader="uploader" >
        <div class="container">
            <div class="row">
                <div class="col-md-9" style="margin-bottom: 40px">
                    <p>Total: {{ uploader.files.length }}</p>
                    <table class="table">
                        <thead>
                            <tr>
                                <th width="50%">Name</th>
                                <th ng-show="uploader.isHTML5">Size</th>
                                <th ng-show="uploader.isHTML5">Progress</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in uploader.files">
                                <td><strong>{{ item.file.name }}</strong></td>
                                <td nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                <td >
                                    <div class="progress" style="margin-bottom: 0;">
                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': (item.progress() * 100) + '%' }"></div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <span ng-show="item.isComplete()"><i class="glyphicon glyphicon-ok"></i></span>
                                    <span ng-show="item.isPaused()"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                    <span ng-show="item.isUploading()"><i class="glyphicon glyphicon-cloud-upload"></i></span>
                                </td>
                                <td nowrap>
                                    <button type="button" class="btn btn-warning btn-xs" ng-click="item.pause()" ng-disabled="!item.isUploading() ||  item.complete()">
                                        <span class="glyphicon glyphicon-ban-circle"></span> Pause
                                    </button>
                                    <button type="button" class="btn btn-danger btn-xs" ng-click="uploader.removeFile(item)">
                                        <span class="glyphicon glyphicon-trash"></span> Remove
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div>
                        <div>
                            Progress:
                            <div class="progress" style="">
                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': (uploader.progress()*100) + '%' }"></div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-success btn-s" ng-click="uploader.upload()" ng-disabled="uploader.isUploading() || (uploader.files.length <= 0)">
                            <span class="glyphicon glyphicon-upload"></span> Upload
                        </button>
                        <button type="button" class="btn btn-warning btn-s" ng-click="uploader.pause()" ng-disabled="!uploader.isUploading()">
                            <span class="glyphicon glyphicon-ban-circle"></span> Pause
                        </button>
                        <button type="button" class="btn btn-danger btn-s" ng-click="uploader.files.splice(0,uploader.files.length)" ng-disabled="uploader.files.length <= 0 || uploader.isUploading() || uploader.complete()">
                            <span class="glyphicon glyphicon-trash"></span> Remove
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

