﻿@model MVCCore.Models.CodeEditorModel

    <label class="control-label formlabel">
        @Model.Label
    <span class="input-group-addon">
        @await Html.PartialAsync("Component/HistoryComponentViewPartial", @Model)
        @await Html.PartialAsync("Component/InfoBlockView", @Model)
    </span>
    </label>
<div class="col-sm">
    <div class="container editorContainer">
        <div class="row ">
            <div class="editortoolbar col-md-12"></div>
        </div>
        <div>
            <div class="editorbody">
                <div name="@Model.Name" style="height:400px;" class="codeEditor @Model.ClassName" data-options="@Model.Options" data-onchanged="@Model.OnChangedEvent" data-readonly="@Model.ReadOnly" data-value="@Model.Value" data-setdefault="@Model.SetDefault"></div>
            </div>            
        </div>        
    </div>
</div>

