﻿@model MVCCore.Models.DivModel
<label class="control-label formlabel">
    @Model.Label
    <span class="input-group-addon">
        @await Html.PartialAsync("Component/HistoryComponentViewPartial", @Model)
        @await Html.PartialAsync("Component/InfoBlockView", @Model)
    </span>
</label>

<div class="col-sm">
    <div name="@Model.Name@Model.RecordId" class="@Model.ClassName " data-onchanged="@Model.OnChangedEvent" data-readonly="@Model.ReadOnly" data-options="@Model.Options" data-setdefault="@Model.SetDefault">@Html.Raw(@Model.Value) </div>

</div>

