﻿@model MVCCore.Models.DropdownModel
@using Core
@using ClassLib;
@{

    //No event use for this case
    var changeevent = Model.OnChangedEvent;

}

    <label class="control-label formlabel">
        @Model.Label
    <span class="input-group-addon">
        @await Html.PartialAsync("Component/HistoryComponentViewPartial", @Model)
        @await Html.PartialAsync("Component/InfoBlockView", @Model)
    </span>
    </label>

<div class="col-sm select2basecontainer">

    @if (Model.Serverside)
    {
        <select id="@Model.ControlId" name="@Model.Name@Model.RecordId" class="@Model.ClassName form-control" @Model.Multiple data-tablename="@Model.TableName" data-recordid="@Model.RecordId" data-placeholder-text="@Model.PlaceHolder" data-selected="@Model.SelectedValuesToString()" data-source="@Model.DataSorceToString()" data-url='@Model.SelectUrl' data-onchanged="@Model.OnChangedEvent" data-readonly="@Model.ReadOnly" data-setdefault="@Model.SetDefault"></select>
    }
    else
    {


        <select id="@Model.ControlId" name="@Model.Name@Model.RecordId" class="@Model.ClassName form-control" @Model.Multiple data-tablename="@Model.TableName" data-recordid="@Model.RecordId" data-newtag="@Model.NewTag.ToString().ToLower()" data-readonly="@Model.ReadOnly" data-onchanged="@Model.OnChangedEvent" data-source="@Model.DataSorceToString()" data-setdefault="@Model.SetDefault" >
        @*@foreach (var item in Model.Items)
            {
                var selected = Model.SelectedValues.Contains(item.Key) ? "selected" : "";
                @Html.Raw("<option value='" + item.Key + "' " + selected + " data-html='" + item.Value + "'>" + item.Value + "</option>");

            }*@
    </select>
    }
</div>

