﻿@model MVCCore.Models.EncryptTextModel
    <label class="control-label formlabel">
        @Model.Label
    <span class="input-group-addon">
        @await Html.PartialAsync("Component/HistoryComponentViewPartial", @Model)
        @await Html.PartialAsync("Component/InfoBlockView", @Model)
    </span>
    </label>
    <div class="col-sm input-group">
        <span><i class="far fa-edit fa-lg mr-2" onclick="EditEncryptedField('@Model.TableName','@Model.Name','@Model.RecordId');" style="cursor:pointer;" title="Edit"></i></span>
        <span><i class="far fa-eye fa-lg ml-2 mr-3" onclick="ViewEncryptedField('@Model.TableName','@Model.Name','@Model.RecordId');" style="cursor:pointer;" title="View"></i></span>
    </div>


