﻿@model FileUploadModel

<style>
    .fade.in {
        opacity: 1 !important;
    }
</style>
<label class="control-label formlabel">
    @Model.Label
<span class="input-group-addon">
    @await Html.PartialAsync("Component/HistoryComponentViewPartial", @Model)
    @await Html.PartialAsync("Component/InfoBlockView", @Model)
</span>
</label>
<!-- The file upload form used as target for the file upload widget -->
<form class="col-md-12 fileuploader" style="border: dotted"
      method="POST"
      enctype="multipart/form-data" data-url="@Model.Url" data-options="@Model.Options" data-readonly="@Model.ReadOnly" data-multiple="@Model.Multiple" data-setdefault="@Model.SetDefault" >
    <!-- Redirect browsers with JavaScript disabled to the origin page -->
    <input class="form-control" type="hidden" name="recordid" value="@Model.RecordId" />
    <input class="form-control" type="hidden" name="fieldid" value="@Model.FieldId" />

    <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
    <div class="row fileupload-buttonbar">
        <div class="col-lg-12">
            <!-- The fileinput-button span is used to style the file input field as button -->
            <span class="btn btn-success fileinput-button">
                <i class="glyphicon glyphicon-plus"></i>
                <span>Add files...</span>
                <input type="file" name="files[]" multiple />

            </span>
            <button type="submit" class="btn btn-primary start">
                <i class="glyphicon glyphicon-upload"></i>
                <span>Start upload</span>
            </button>
            <button type="reset" class="btn btn-warning cancel">
                <i class="glyphicon glyphicon-ban-circle"></i>
                <span>Cancel upload</span>
            </button>
            <button type="button" class="btn btn-danger delete">
                <i class="glyphicon glyphicon-trash"></i>
                <span>Delete selected</span>
            </button>
            <input type="checkbox" class="toggle toggleclick" />
            <!-- The global file processing state -->
            <span class="fileupload-process"></span>
        </div>
        <!-- The global progress state -->
        <div class="col-lg-12 fileupload-progress fade">
            <!-- The global progress bar -->
            <div class="progress progress-striped active"
                 role="progressbar"
                 aria-valuemin="0"
                 aria-valuemax="100">
                <div class="progress-bar progress-bar-success"
                     style="width:0%;"></div>
            </div>
            <!-- The extended global progress state -->
            <div class="progress-extended">&nbsp;</div>
        </div>
    </div>
    <!-- The table listing the files available for upload/download -->
    <table role="presentation" class="table table-striped">
        <tbody class="files foldergroup"></tbody>
    </table>
</form>

<!-- The blueimp Gallery widget -->
<div id="blueimp-gallery"
     class="blueimp-gallery blueimp-gallery-controls"
     data-filter=":even">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>
<script id="foldertemplate" type="text/x-tmpl">
    <div class="list-group pmd-list pmd-card-list foldergroup">
        <div class="list-group-item list-group-item-action d-flex align-items-center pl-1 pb-0 pt-0 droptarget">
            <div class="media-body d-flex flex-row" style="height:45px !important;top:10px !important; position:relative;">
                <div class="d-flex flex-row" data-toggle="collapse" href="#{%=o.name%}col">
                    <i class="text-warning fa fa-folder fa-lg mt-1 mr-3"></i>
                    <p class="name" href="#{%=o.name%}col">{%=o.dirname%}</p>
                </div>

                <input type="checkbox" class="mt-2 ml-3 toggle " onclick="ToggleClick('{%=o.name%}',this);" />
            </div>
            <i class="ml-4 fa fa-chevron-down " data-toggle="collapse" href="#{%=o.name%}col"></i>

        </div>
        <div class="collapse pl-3" id="{%=o.name%}col">
            <div>
                <div class="list-group-item list-group-item-action pmd-list-item-inset folder" id="{%=o.name%}">
                </div>
            </div>
        </div>
    </div>
</script>
<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
    {% o.name = file.relativePath + file.name;%}
    <div class="template-upload fade m-1 border">
        <div class="d-flex row pl-4 pt-1">
            <div class="d-flex justify-content-start col-md-5">
                <div class="d-flex row col-md-12">
                    <div class="d-flex justify-content-start mt-1 mr-2 col-md-12">
                        <span>{%=file.name%}</span>
                        <strong class="error text-danger"></strong>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end col-md-7">
                <div class="d-flex flex-row col-md-7">
                    <p class="size mr-auto  mt-1">Processing...</p>
                    <div class="progress progress-striped active mt-2 col-md-9" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
                </div>
                <div class="d-flex flex-row col-md-2 mt-2">
                    {% if (!o.options.autoUpload && o.options.edit && o.options.loadImageFileTypes.test(file.type)) { %}
                    <i class="text-success fas fa-edit  edit mr-2 ml-2 fa-lg" title="Edit Upload" style="cursor:pointer;"></i>
                    {% } %}
                    {% if (!i && !o.options.autoUpload) { %}
                    <i class="text-primary start mr-2 ml-2 fas fa-upload fa-lg" titi="Start Upload" style="cursor:pointer;"></i>
                    {% } %}
                    {% if (!i) { %}
                    <i class="text-warning cancel mr-2 ml-2 fas fa-ban fa-lg" title="Cancal Upload" style="cursor:pointer;"></i>
                    {% } %}
                </div>
                <div class="d-flex row col-md-3"><span class="preview"></span>   </div>
            </div>
        </div>
    </div>
    {% } %}

</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
    <div class="template-download fade m-1 border">
        <div class="d-flex row pl-4 pt-1">
            <div class="d-flex justify-content-start col-md-5">
                <div class="d-flex row col-md-12">
                    <div class="name d-flex justify-content-start mt-1 mr-2 col-md-12">

                        {% if (file.url) { %}
                        <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                        {% } else { %}
                        <span>{%=file.relativePath%}{%=file.name%}</span>
                        {% } %}

                        {% if (file.error) { %}
                        <div><span class="label label-danger">Error</span> {%=file.error%}</div>
                        {% } %}
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end col-md-7">
                <div class="d-flex flex-row col-md-7">
                    <span class="size">{%=o.formatFileSize(file.size)%}</span>
                </div>
                <div class="d-flex flex-row col-md-2 mt-2">
                    {% if (file.deleteUrl) { %}
                    <i class="text-danger fas fa-trash-alt delete" style="cursor:pointer;" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}" {% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}' {% } %}></i>
                    <input type="checkbox" name="delete" value="1" class="toggle toggleclick">
                    {% } %}       
                </div>
                <div class="d-flex row col-md-3">
                    <span class="preview">
                        {% if (file.thumbnailUrl) { %}
                        <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}" style="max-height:45px;"></a>
                        {% } %}
                    </span>
                </div>
            </div>
        </div>
    </div>
    {% } %}
</script>