﻿@model MVCCore.Models.CheckListModel

    <label class="control-label formlabel">
        @Model.Label
    <span class="input-group-addon">
        @await Html.PartialAsync("Component/HistoryComponentViewPartial", @Model)
        @await Html.PartialAsync("Component/InfoBlockView", @Model)
    </span>
    </label>
<div class="col-sm">
    <div class="@Model.ClassName md-checkbox-list" data-readonly="@Model.ReadOnly" data-fieldname="@Model.Name">
                <div class="md-checkbox">
                    <label class="">
                        <input type="checkbox" class="ICheckList" data-onchanged="@Model.OnCheckAllEvent">
                        All
                    </label>
                </div>
                @foreach (var check in @Model.Items)
                {
                <div class="md-checkbox">
                    @if (Model.SelectedValues.Contains(check.Key))
                    {
                        <label class="">
                            <input type="checkbox" class="ICheckList" name="@Model.Name@Model.RecordId" data-onchanged="@Model.OnChangedEvent" value="@check.Key" @Html.Raw(@Model.CustomData) data-setdefault="@Model.SetDefault" checked>
                            @check.Value
                        </label>
                    }
                    else
                    {
                        <label class="">
                            <input type="checkbox" class="ICheckList" name="@Model.Name@Model.RecordId" data-onchanged="@Model.OnChangedEvent" value="@check.Key" @Html.Raw(@Model.CustomData) data-setdefault="@Model.SetDefault" >
                            @check.Value
                        </label>

                    }
                </div>
                }
            </div>
</div>




