﻿@model MVCCore.Models.InputModel
    <div class="d-flex flex-row col-md-12">
        <label class="control-label formlabel">
            @Model.Label
            <span class="input-group-addon">
                @await Html.PartialAsync("Component/InfoBlockView", @Model)
                @await Html.PartialAsync("Component/HistoryComponentViewPartial", @Model)
            </span>
        </label>
   
        <div class="h-25 @if (!string.IsNullOrWhiteSpace(@Model.TableName))
                    {@Html.Raw("input-group")
                    }  input-icon right">

            <input name="@Model.Name@Model.RecordId" type="@Model.Type" value="@Model.Value" class="@Model.ClassName form-control" placeholder="@if (!string.IsNullOrWhiteSpace(@Model.PlaceHolder))
                                                                                                                                    {@Model.PlaceHolder
                                                                                                                                    }" data-onchanged="@Model.OnChangedEvent" data-options="@Model.Options" @Html.Raw(Model.CustomData) data-readonly="@Model.ReadOnly" data-setdefault="@Model.SetDefault" />
            @if (!string.IsNullOrWhiteSpace(@Model.Icon))
            {
                <i class="@Model.Icon"></i>
            }
        </div>


    </div>



