﻿@model MVCCore.Models.RadioModel

    <label class="control-label formlabel">
        @Model.Label
    <span class="input-group-addon">
        @await Html.PartialAsync("Component/HistoryComponentViewPartial", @Model)
        @await Html.PartialAsync("Component/InfoBlockView", @Model)
    </span>
    </label>
<div class="col-sm radio-list ">
    <div class="input-icon right container">
        <div class="@Model.ClassName ICheckRadio row no-gutters" data-readonly="@Model.ReadOnly" data-onchanged="@Model.OnChangedEvent" data-setdefault="@Model.SetDefault" >
            @foreach (var radio in @Model.Items)
            {
            <div class="radio-inline col-md-12">
                @if (radio.Key.Equals(Model.Value))
                {
                    <label class="">
                        <input type="radio" name="@Model.Name@Model.RecordId" class="" value="@radio.Key" @Html.Raw(@Model.CustomData) checked>
                        @radio.Value
                    </label>
                }
                else
                {
                    <label class="">
                        <input type="radio" name="@Model.Name@Model.RecordId" class="" value="@radio.Key" @Html.Raw(@Model.CustomData)>
                        @radio.Value
                    </label>

                }
            </div>
            }
        </div>
    </div>
</div>


