﻿@model MVCCore.Models.DateTimePickerModel
@{
    string datetimeid = Guid.NewGuid().ToString("N");
}
    <label class="control-label formlabel">
        @Model.Label
    <span class="input-group-addon">
        @await Html.PartialAsync("Component/HistoryComponentViewPartial", @Model)
        @await Html.PartialAsync("Component/InfoBlockView", @Model)
    </span>
    </label>

<div name="@Model.Name@Model.RecordId" class="date col-sm input-group  @Model.ClassName">
    <input id="@datetimeid" type="text" size="16" value="@Model.Value" class="form-control datetime_picker datetimepicker-input" data-onchanged="@Model.OnChangedEvent" data-options="@Model.Options" data-target="#@datetimeid" @if (@Model.ReadOnly) { @Html.Raw("readonly") } data-toggle="datetimepicker" data-setdefault="@Model.SetDefault" >
    <div class="input-group-append">
        <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
    </div>
    @if (!string.IsNullOrWhiteSpace(@Model.Icon))
    {
        <i class="@Model.Icon"></i>
    }
</div>


