﻿@using Newtonsoft.Json
@using Core
@model MVCCore.Models.ItemHistoryModel
@using ClassLib
@{string optiondate = "";}
<table class="modalhistoryItem table table-striped table-bordered table-hover" data-header="@Model.HeaderDic" data-search="@Model.FieldSearch">

    <thead>
        <tr>
            @foreach (var item in Model.Headers)
            {
                if (@Model.SeachModelDic.ContainsKey(item.Key))
                {

                    <th>
                        @switch (Model.SeachModelDic[item.Key].ControlType)
                        {
                            case Const.ControlTypes.Html:
                                break;
                            case Const.ControlTypes.TextBox:
                                <input name="@item.Key" type="text" class="form-control fieldsearch" placeholder="@item.Value" />
                                break;
                            case Const.ControlTypes.ComboBox:
                                if (@Model.SeachModelDic[item.Key].Source.KeySource.Any(x => x.GetSource() is TableSource))
                                {
                                    string sorcestr = JsonConvert.SerializeObject(@Model.SeachModelDic[item.Key].Source.KeySource);
                                    <select name="@item.Key" class="js-data-ajax fieldsearch" data-placeholder-text="@item.Value" data-selected="{}" data-source="@sorcestr" data-url='/Data/Select' data-onchanged="" data-readonly="False"></select>
                                }
                                else

                                {
                                    var itemkeyvalue = @Model.SeachModelDic[item.Key].Source.KeySource.Where(x => x.GetSource() is KeyValueSource).Select(x => ((KeyValueSource)x.GetSource()).Items).First();
                                    <select name="@item.Key" class="select2 fieldsearch" data-newtag="False" data-readonly="False" data-onchanged="">

                                        @foreach (var option in itemkeyvalue)
                                        {
                                            if (@Model.FieldSearch.Equals(@option.Value))
                                            {
                                                <option value="@option.Key" selected="selected">@option.Value</option>
                                            }
                                            else
                                            {
                                                <option value="@option.Key">@option.Value</option>
                                            }

                                        }
                                    </select>
                                }
                                break;
                            case Const.ControlTypes.CheckBox:
                                <select name="@item.Key" class="select2-multiple fieldsearch" multiple data-newtag="False" data-readonly="False" data-onchanged="">
                                    <option value="true" data-html="<span class='fas fa-check'></span> Checked"></option>
                                    <option value="false" data-html="<span class='fas fa-remove'></span> Unchecked"></option>
                                </select>
                                break;
                            case Const.ControlTypes.SwitchButton:
                                <select name="@item.Key" class="select2-multiple fieldsearch" multiple data-newtag="False" data-readonly="False" data-onchanged="">
                                    <option value="true" data-html="<span class='fas fa-toggle-on'></span> ON"></option>
                                    <option value="false" data-html="<span class='fas fa-toggle-off'> </span> OFF"></option>
                                </select>
                                break;
                            case Const.ControlTypes.SummerNote:
                                <input name="@item.Key" class="form-control fieldsearch" placeholder="@item.Value" type="text" />
                                break;
                            case Const.ControlTypes.CodeEditor:
                                <input name="@item.Key" class="form-control fieldsearch" placeholder="@item.Value" type="text" />
                                break;
                            case Const.ControlTypes.ColorPicker:
                                <input name="@item.Key" class="form-control fieldsearch" placeholder="@item.Value" type="text" />
                                break;
                            case Const.ControlTypes.DatetimePicker:
                                optiondate = JsonConvert.SerializeObject(@Model.SeachModelDic[item.Key].Options);
                                <div style="width:auto;text-align:center">
                                    <input name="@item.Key" type="text" size="16" value="" class="form-control fieldsearch input-icon right datetime_picker" data-options="@optiondate" data-readonly="False" data-onchanged="">
                                    <i class="fas fa-calendar"></i>
                                </div>

                                break;
                            case Const.ControlTypes.RadioButton:
                                if (@Model.SeachModelDic[item.Key].Source.KeySource.Any(x => x is TableSource))
                                {
                                    string sorcestr = JsonConvert.SerializeObject(@Model.SeachModelDic[item.Key].Source.KeySource);
                                    <select name="@item.Key" class="js-data-ajax fieldsearch" data-placeholder-text="@item.Value" data-selected="{}" data-source="@sorcestr" data-url='/Data/Select' data-onchanged="" data-readonly="False"></select>
                                }
                                else

                                {
                                    var itemkeyvalue = @Model.SeachModelDic[item.Key].Source.KeySource.Where(x => x.GetSource() is KeyValueSource).Select(x => ((KeyValueSource)x.GetSource()).Items).First();
                                    <select name="@item.Key" class="select2 fieldsearch" data-newtag="False" data-readonly="False" data-onchanged="">

                                        @foreach (var option in itemkeyvalue)
                                        {
                                            if (@Model.FieldSearch.Equals(@option.Value))
                                            {
                                                <option value="@option.Key" selected="selected">@option.Value</option>
                                            }
                                            else
                                            {
                                                <option value="@option.Key">@option.Value</option>
                                            }

                                        }
                                    </select>
                                }
                                break;
                            case Const.ControlTypes.InputMask:
                                <input name="@item.Key" type="text" class="form-control fieldsearch Mask" placeholder="@item.Value" data-mask="@Model.SeachModelDic[item.Key].Options)" />
                                break;
                            default:
                                throw new ArgumentOutOfRangeException();
                        }



                    </th>
                }
                else
                {
                    <th></th>
                }
            }
        </tr>



        <tr role="row" class="heading">
            @foreach (var header in @Model.Headers)
            {
                <th nowrap class="heading tableHeader">@header.Value</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var history in @Model.HistoryRecords)
        {
            <tr nowrap>
                <td nowrap>@history.FieldName</td>
                <td nowrap>@history.Date</td>
                <td nowrap>@history.Value</td>
                <td nowrap>@history.ChangedBy</td>
            </tr>
        }
    </tbody>

</table>