﻿@using MVCCore.Models
@using Newtonsoft.Json;
@model IEnumerable<MVCCore.Models.FormModel>


@foreach (var form in @Model)
{
 
    <div class="container portlet-body">
        <div class="row justify-content-start">
            <div>@form.TableNameDisplay</div>
            <div class="actions">
                @if (!string.IsNullOrWhiteSpace(@form.TableName))
                {
                    <a href="#" class="btn btn-xs green buttonMargin" onclick="UpdateFormData(this);" data-id='@form.Id' data-searchterm="@JsonConvert.SerializeObject(form.SearchTerm)" data-tablename='@form.TableName' data-url='@form.UpdateUrl'>
                        <i class="fas fa-save"></i>
                    </a>
                }
            </div>
        </div>

        <div class="row">

            <div class="container-fluid  no-gutters formbody" data-dependancy="@JsonConvert.SerializeObject(form.Dependancy)" data-formid="@form.Id" data-urlsubtable="@form.SubTableUrl">
                <div class="row">
                    @foreach (var control in @form.Controls)
                    {
                        string visible = control.Visible ? "" : "style=display:none";
                        <div class="@control.FormGroup groupdiv" name="@control.Name" @visible>
                            <div class="form-group row no-gutters">
                                @if (control is SourceEditorModel)
                                {
                                    <partial name="SourceEditorViewPartial" model="(SourceEditorModel)control" />
                                }
                                else if (control is KeyValueModel)
                                {
                                    <partial name="KeyValueViewPartial" model="(KeyValueModel)control" />
                                }
                                else if (control is CodeEditorModel)
                                {
                                    <partial name="CodeEditorViewPartial" model="(CodeEditorModel)control" />
                                }
                                else if (control is FileUploadModel)
                                {
                                    FileUploadModel uploadmodel = (FileUploadModel)control;
                                    uploadmodel.Url = "/Upload/UploadFiles";
                                    <partial name="FormUploadViewPartial" model="@uploadmodel" />
                                }
                                else if (control is InputModel)
                                {
                                    <partial name="FormInputViewPartial" model="(InputModel)control" />
                                }
                                else if (control is DropdownModel)
                                {
                                    if (((DropdownModel)control).IsSortable)
                                    {
                                        <partial name="SortableViewPartial" model="(DropdownModel)control" />
                                    }
                                    else
                                    {
                                        <partial name="DropDownViewPartial" model="(DropdownModel)control" />
                                    }

                                }
                                else if (control is DivModel)
                                {
                                    <partial name="DivViewPartial" model="(DivModel)control" />
                                }
                                else if (control is RadioModel)
                                {
                                    <partial name="FormRadioViewPartial" model="(RadioModel)control" />

                                }
                                else if (control is DateTimePickerModel)
                                {
                                    <partial name="FormDateTimePickerViewPartial" model="(DateTimePickerModel)control" />
                                }
                                else if (control is CheckListModel)
                                {
                                    <partial name="FormCheckListViewPartial" model="(CheckListModel)control" />
                                }
                                else if (control is EncryptTextModel)
                                {
                                    <partial name="FormEncryptTextViewPartial" model="(EncryptTextModel)control" />
                                }


                            </div>
                        </div>

                    }
                </div>
                <div class="row">
                    @Html.Raw(@form.SubTableHtml)
                </div>
            </div>


        </div>

    </div>
    <script>
        document.addEventListener('readystatechange', function (evt) {
            alert();
        });

    </script>



}
