﻿@model KeyValueModel


    <label class="control-label formlabel">
        @Model.Label
    <span class="input-group-addon">
        @await Html.PartialAsync("Component/HistoryComponentViewPartial", @Model)
        @await Html.PartialAsync("Component/InfoBlockView", @Model)
    </span>
    </label>
    <div class="col-sm">
        <div class="ikeyvalue" data-tablename="@Model.TableName" data-valuesourcemultiplevalue="@Model.ValueSourceMultipleValue.ToString().ToLower()" data-recordid="@Model.RecordId" data-onchanged="@Model.OnChangedEvent" data-keyurl="@Model.KeyDropdown.SelectUrl" data-keysource="@Model.KeyDropdown.DataSorceToString()" data-keyplaceholder="@Model.KeyDropdown.Name" data-valueurl="@Model.ValueDropdown.SelectUrl" data-valuesource="@Model.ValueDropdown.DataSorceToString()" data-valueplaceholder="@Model.ValueDropdown.Name" data-selectedkeyvalue="@Model.SelectedKeyValueToString()" data-readonly="@Model.ReadOnly" data-setdefault="@Model.SetDefault">

        </div>

    </div>







