﻿@using MVCCore.Models
@model MVCCore.Models.PluginModel

<div id="plugins">
    @foreach (var item in @Model.Plugins)
    {
        <div class="form-horizontal">
            <div class="form-body col-md-12">
                <div class="status alert-success"></div>
                @{ Html.RenderPartial("FormInputViewPartial", item); }
            </div>
        </div>
    }
    <a href="#" class="btn btn-lg green" onclick="@Model.Onclick" data-url='@Model.Url' data-plugins="@Model.PluginsData">
        <i class="@Model.ClassName"></i>
    </a>
</div>
