﻿@using MVCCore.Controllers
@using MVCCore.Models
@using Core
@model MVCCore.Models.IOMappingModel
@{
    InputModel skipInput,primaryKeyinput;
    Users userSetting = Context.Session.Get<Users>("User");
}
<div class="form-horizontal">
    <div id='@Model.TableName' class="form-body col-md-12">
        <a href="#" class="btn btn-lg green" onclick="SaveIOMapping('@Model.TableName','@Model.Url');">
            <i class="fas fa-save"></i>
        </a>
        <table  border="1" align="center" style="width:90%;">
            <thead>
            <tr>
                <th style="text-align:right;padding:5px;">@Words.Get("UserColumnName",userSetting.Language)</th>
                <th style="text-align:center;padding:5px;">@Words.Get("SystemColumnName",userSetting.Language)</th>
                <th style="text-align:left;padding:5px;">@Words.Get( "Skip",userSetting.Language)</th>
                <th style="text-align:left;padding:5px;">@Words.Get("PrimaryKey",userSetting.Language)</th>
            </tr>
            </thead>

            @foreach (var item in @Model.MapList)
            {
                {
                    if (item.SelectedValues.Count > 0)
                    {
                        skipInput = @Model.SkipList[item.SelectedValues.FirstOrDefault()];
                        primaryKeyinput = @Model.PromaryKeyList[item.SelectedValues.FirstOrDefault()];
                    }
                    else
                    {
                        skipInput = new InputModel() ;
                        primaryKeyinput = new InputModel();
                    }

                }
                <tr class="FieldInput">
                    <td style="padding:5px;"><label class="control-label @item.LabelColMd">@item.Label</label></td>

                    <td style="padding:5px;">
                        @if (item.Serverside)
                        {
                            <div class="@item.ValueColMd">
                                <select name="@item.Name" class="js-data-ajax @item.ClassName" multiple data-placeholder-text="@item.PlaceHolder" data-iomapping="@item.OnChangedEvent" data-selected="@item.SelectedValuesToString()" data-table="@item.DataSorceToString()" data-url='@item.SelectUrl' data-readonly="false"  @item.OnChangedEvent></select>
                            </div>
                        }
                        else
                        {
                            <div class="@item.ValueColMd">
                                <select name="@item.Name" class="@item.ClassName" data-iomapping="@item.OnChangedEvent" data-newtag="@item.NewTag" data-readonly="false">
                                    @foreach (var itemsorce in item.Items)
                                    {
                                        var selected = item.SelectedValues.Contains(itemsorce.Key) ? "selected" : "";
                                     
                                        @Html.Raw("<option value=\"" + @itemsorce.Key + "\"  " + selected + " >" + @itemsorce.Value + "</option>")
                                        
                                    }
                                </select>
                            </div>
                        }
                    </td>
                    <td>
                        <div class="@skipInput.ValueColMd">
                            <input name="@skipInput.Name" type="@skipInput.Type" class="form-control @skipInput.ClassName"  data-readonly="@skipInput.ReadOnly" @skipInput.OnChangedEvent @skipInput.CustomData/>
                        </div>

                    </td>
                    <td>
                        <div class="@primaryKeyinput.ValueColMd">
                            <input name="@primaryKeyinput.Name" type="@primaryKeyinput.Type" class="form-control    @primaryKeyinput.ClassName" data-readonly="@primaryKeyinput.ReadOnly" @primaryKeyinput.OnChangedEvent @primaryKeyinput.CustomData />
                        </div>

                    </td>
                </tr>
            }
        </table>
        

    </div>

</div>
