﻿@using MVCCore.Models
@using Core
@model MVCCore.Models.SecurityModel
@using MVCCore.Controllers

<table id="SecurityTable" class="Normaldatatable table nowrap table-striped table-bordered table-hover table-checkable" style="width:100%" data-header="@Model.HeaderDic">
    <thead>
    <tr>
        <th style="text-align:center"><button type="button" class="btn btn-ls green buttonMargin" onclick="SaveSecurity(this)"><i class="fas fa-save"></i></button></th>
        <th style="text-align:center"></th>
        <th id="RoleDropDown" style="text-align:center"></th>
    </tr>
    <tr>
        <th style="text-align:center">
            <select name="@Model.SearchTable.Name" class="select2-multiple fieldsearch" multiple data-newtag="False" data-readonly="False" data-onchanged="">
                @foreach (var option in @Model.SearchTable.Items)
                {
                    <option value="@option.Key">@option.Value</option>
                }
            </select>
        </th>
        <th style="text-align:center">
            <select name="@Model.SearchField.Name" class="select2-multiple fieldsearch" multiple data-newtag="False" data-readonly="False" data-onchanged="">
                @foreach (var option in @Model.SearchField.Items)
                {
                    <option value="@option.Key">@option.Value</option>
                }
            </select>
        </th>
        <th style="text-align:left;width:1000px;">
            <select name="@Model.SearchAccess.Name" class="select2-multiple fieldsearch" multiple data-newtag="False" data-readonly="False" data-onchanged="">
                @foreach (var option in @Model.SearchAccess.Items)
                {
                    <option value="@option.Key">@option.Value</option>
                }
            </select>

            
        </th>
    </tr>
    <tr>
        <th style="text-align:center">@Words.Get("TableName", Context.Session.Get<string>(SessionName.Language))</th>
        <th style="text-align:center">@Words.Get("FieldName", Context.Session.Get<string>(SessionName.Language))</th>
        <th style="text-align:left;width:1000px;"><span style="display:inline-block;">@Words.Get("Modify", Context.Session.Get<string>(SessionName.Language)) </span>&nbsp; &nbsp;<span style="display:inline-block;"> @{ Html.RenderPartial("RadioViewPartial", @Model.BulkChangeAccess); }</span></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var table in @Model.FieldAccessDic)
    {
        foreach (var field in table.Value)
        {
            <tr>
                <td style="text-align:center;">@Words.Get(table.Key, Context.Session.Get<string>(SessionName.Language))</td>
                <td style="text-align:center;">@Words.Get(field.Key, Context.Session.Get<string>(SessionName.Language))</td>
                <td name="AccessRight" id="@field.Value.Id" style="text-align:left" data-search="@field.Value.RadioItem.Value">
                   
                    @await Html.PartialAsync("RadioViewPartial", @field.Value.RadioItem)
                </td>
            </tr>
        }
    }
    </tbody>
    <tfoot><tr><th></th><th></th><th></th></tr></tfoot>
</table>
