﻿@using MVCCore.Models
@model Users
<div class="col-12 portlet">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-social-dribbble font-purple-soft"></i>
            <span class="caption-subject font-purple-soft bold uppercase">@Words.Get("Settings", Model.Language)</span>
        </div>
    </div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a href="#tab_1_1" class="nav-link" data-toggle="tab" onclick="InitSchema();">@Words.Get("Data Structure", @Model.Language) </a>
        </li>
        <li class="nav-item">
            <a href="#tab_1_2" class="nav-link" data-toggle="tab" onclick="InitSideBarSetting();">@Words.Get("Side Bar", @Model.Language)</a>
        </li>
        <li class="nav-item">
            <a href="#tab_1_3" class="nav-link" data-toggle="tab" onclick="InitBackupAndRestore();">@Words.Get("Backup / Restore", @Model.Language)</a>
        </li>
        <li class="nav-item">
            <a href="#tab_1_4" class="nav-link" data-toggle="tab" onclick="InitDevelopment();">@Words.Get("Development", @Model.Language)</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade active in" id="tab_1_1">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <div class="row">
                            <input id="datasearch" type="text" class="col-md-6 form-control" style="max-width:45vh" autocomplete="off" />
                            <a class="col-md-6 btn btn-circle btn-icon-only btn-default">
                                <i class="icon-magnifier"></i>
                            </a>
                        </div>
                        <div id="schema" class="row" style="overflow: auto; height:80vh;width:auto;"></div>
                    </div>
                    <div id="ControlInput" class="col-8" style="overflow-y: scroll;height:80vh;">
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="tab_1_2">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <div class="row">
                            <input id="menusearch" type="text" class="col-md-6 form-control" style="max-width:45vh" />
                            <a class="col-md-6 btn btn-circle btn-icon-only btn-default">
                                <i class="icon-magnifier"></i>
                            </a>
                        </div>
                        <div id="Menu" class="row" style="overflow: auto; height:60vh;width:auto;"></div>
                    </div>
                    <div id="MenuInput" class="col-8">
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="tab_1_3">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="text-primary btn  p-1 m-1 border border-primary" style="width:10%;" onclick="CheckAllVisible('schemabackup');"><i class="fas fa-check"></i></div><div class="btn w-10 border border-danger text-danger p-1 m-1" style="width:10%;" onclick="UnCheckAllVisible('schemabackup')"><i class="fas fa-times"></i></div>
                            <input id="schemabackupsearch" type="text" class="col-md-6 form-control" style="max-width:45vh" autocomplete="off" />
                            <a class="col-md-6 btn btn-circle btn-icon-only btn-default">
                                <i class="icon-magnifier"></i>
                            </a>
                        </div>
                        <div id="schemabackup" class="row" style="overflow: auto; height:80vh;width:auto;"></div>
                    </div>
                    <div class="col-8" style="overflow-y: scroll;height:80vh;">
                        <button class="btn btn-primary" onclick="BackupSchema();">@Words.Get("Backup Schema", @Model.Language)</button>

                        <div id="BackupTable"></div>
                    </div>

                </div>
            </div>
        </div>
        <div class="tab-pane" id="tab_1_4">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="text-primary btn  p-1 m-1 border border-primary" style="width:10%;" onclick="CheckAllVisible('development');"><i class="fas fa-check"></i></div><div class="btn w-10 border border-danger text-danger p-1 m-1" style="width:10%;" onclick="UnCheckAllVisible('development')"><i class="fas fa-times"></i></div>
                            <input id="developmentsearch" type="text" class="col-md-6 form-control" style="max-width:45vh" autocomplete="off" />
                            <a class="col-md-6 btn btn-circle btn-icon-only btn-default">
                                <i class="icon-magnifier"></i>
                            </a>
                        </div>
                        <div id="development" class="row" style="overflow: auto; height:80vh;width:auto;"></div>
                    </div>
                    <div class="col-8" style="overflow-y: scroll;height:80vh;">                

                        <div class="container col-md-12">
                            <button class="btn btn-primary" onclick="DownloadClasses()">@Words.Get("Download Classes", @Model.Language)</button>
                            <button class="btn btn-primary" onclick="RebuildSchema()">@Words.Get("Rebuild Schema", @Model.Language)</button>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

</div>






