﻿@model Users
 <div class="container">
     <div class="row">
         <input id="SideBarSearch" type="text" class="form-control col-md-12" placeholder="Search...">
     </div>
     <div class="row">
         <div class="list-group sticky-top sticky-offset  col-md-12" id="side-menu" style="overflow: auto; height:85vh;width:auto;">
         </div>
     </div>
 </div>


   
