﻿@using MVCCore.Models
@model MVCCore.Models.TableFieldsModel
<div name="@Model.TableId">
    <i class="fas fa-save fa-2x" title="Save" onclick="SaveOrder(this,'@Model.TableId','@Model.ParentId')"  data-updateurl="@Model.UpdateSortUrl" ></i>
    <ul id="SortView" class="list-group ui-sortable">

        @foreach (var item in Model.FieldList)
        {
            if (item.Visible)
            {
                <li class="list-group-item d-flex justify-content-between align-items-center p-1" name="@item.id">@item.Name</li>
            }
            else
            {
                <li  style="display:none !important;" name="@item.id">@item.Name</li>
            }

        }
    </ul>
</div>

<script>
    function SaveOrder(e, tableid,parentId ) {
       
        ShowBusy();
    
        var updateurl = $(e).data("updateurl");
        var tableFields = $("#SortView");
        var children = tableFields.children();
        var updatefieldorder = [];
        console.log(children.length);
        for (var i = 0; i < children.length; i++) {
            console.log($(children[i]).attr("name"));
            updatefieldorder.push($(children[i]).attr("name"));
            // Do stuff
        }
        CloseModal();
        console.log("Modal Close");
        setTimeout(function () {
            var jsonresult = AjaxRequest(updateurl, { "tableId": tableid, "parentId": parentId, "orderFields": updatefieldorder });
            ShowReady();
            if (jsonresult && jsonresult.Code && jsonresult.Code == "Success") {
                ShowModal("Save", "Save Completed");
            }
            else {
                ShowModal("Error", jsonresult.Message);
            }
        },500);
 
    }
</script>
