﻿@model MVCCore.Models.DropdownModel
@using Core
@{
    //No event use for this case
    var changeevent = Model.OnChangedEvent;

}
    <label class="control-label formlabel">
        @Model.Label
    <span class="input-group-addon">
        @await Html.PartialAsync("Component/HistoryComponentViewPartial", @Model)
        @await Html.PartialAsync("Component/InfoBlockView", @Model)
    </span>
    </label>

<div class="col-sm">
    <div class="select2sortable" name="@Model.Name" data-newtag="@Model.NewTag" data-tablename="@Model.TableName" data-recordid="@Model.RecordId" data-selected="@Model.SelectedValuesToString()" data-source="@Model.DataSorceToString()" data-url='@Model.SelectUrl' data-onchanged="@Model.OnChangedEvent" data-readonly="@Model.ReadOnly" data-setdefault="@Model.SetDefault">
        @if (Model.Serverside)
        {
            <select id="@Model.ControlId"  class="@Model.ClassName form-control" multiple data-placeholder-text="@Model.PlaceHolder" ></select>
        }
        else
        {
            <select id="@Model.ControlId"  class="@Model.ClassName form-control" multiple >
                @foreach (var item in Model.Items)
                {
                    var selected = Model.SelectedValues.Contains(item.Key) ? "selected" : "";
                    @Html.Raw("<option value='" + item.Key + "' " + selected + " data-html='" + item.Value + "'>" + item.Value + "</option>");

                }
            </select>
        }
    </div>   


</div>


