﻿@model MVCCore.Models.SourceEditorModel
    <label class="control-label formlabel">
        @Model.Label
    <span class="input-group-addon">
        @await Html.PartialAsync("Component/HistoryComponentViewPartial", @Model)
        @await Html.PartialAsync("Component/InfoBlockView", @Model)
    </span>
    </label>

<div class="col-sm">
    <div name="@Model.Name@Model.RecordId" class="sourceEditor" data-showvaluesource="true" data-tablename="@Model.TableName" data-recordid="@Model.RecordId" data-onchanged="@Model.OnChangedEvent" data-readonly="@Model.ReadOnly" data-value="@Model.Value" data-setdefault="@Model.SetDefault">

    </div>
</div>
<script>
    document.onreadystatechange = function (e) {
        if (document.readyState != 'complete') {
            return;
        }
    };
     </script>