﻿@using MVCCore.Models
@using Newtonsoft.Json
@using Core
@using SolrNetCore
@using ClassLib
@using Microsoft.AspNetCore.Http
@using MVCCore.Controllers
@inject IHttpContextAccessor HttpContextAccessor
@model MVCCore.Models.DataTableModel
@{string optiondate = "";
    Users user = HttpContextAccessor.HttpContext.Session.Get<Users>(MVCCore.Controllers.SessionName.User);
}

<div class="row" id="Table_@Model.TableId">
    <div class="col-md-12 col-sm-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-share font-blue"></i>
                    <span class="caption-subject font-blue bold uppercase">@Model.TableNameDisplay</span>
                </div>
                <div class="tools">

                </div>
                <div class="actions">
                    @if (@Model.EnableUpload)
                    {
                        <i class="fas fa-upload ml-2 mr-2 fa-lg" onclick="UploadCsv(this,'@Model.TableId','@JsonConvert.SerializeObject(Model.SearchTerm)');" style="cursor:pointer;"></i>
                        <i class="fas fa-download  ml-2 mr-2 fa-lg" onclick="DownloadCsv('@Model.TableId')" style="cursor:pointer;"></i>
                    }
                    <i class="fas fa-sync-alt  ml-2 mr-2 fa-lg" title="Commit" onclick="SynchTable('@Model.CommitUrl','@Model.TableId');" data-fullscreen="false" />
                    <i class="fas fa-expand-arrows-alt  ml-2 mr-2 fa-lg" title="FullScreen" onclick="SetFullScreen(this,'@Model.TableId');" data-fullscreen="false" />
                    <div class="btn-group">
                        <a class="btn btn-sm blue btn-outline btn-circle" data-toggle="modal" data-target=".bd-example-modal-lg" data-backdrop="static" data-keyboard="false" onclick="Redraw();">
                            More
                            <i class="fas fa-angle-down"></i>
                        </a>

                        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="col-md-12">
                                        <table class="table   columnheadertable  col-md-12" style="width:90%;">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>
                                                        <a href="#" class="btn btn-sm green" data-dismiss="modal" onclick="SaveTableView('/Schema/SaveTableView','@Model.TableId');">
                                                            <i class="fas fa-save fa-lg"></i>
                                                        </a>
                                                    </th>
                                                    <th style="text-align:center;"><input name="Header_@Model.TableId" class="ICheckTable" type="checkbox" data-onchanged="var fn=OnTableToggleCheck;var data={name:'TableView_@Model.TableId'}" /></th>
                                                </tr>
                                                <tr>
                                                    <th>Seq No.</th>
                                                    <th style="text-align:right;">
                                                        Name
                                                    </th>
                                                    <th style="text-align:center;">Visible</th>
                                                </tr>

                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.Headers)
                                                {
                                                    string checkedstr = item.Enable ? "checked" : "";
                                                    if (!item.AllowView)
                                                    {
                                                        <tr data-id="@item.Id" data-fieldid="@item.FieldId" style="display:none;margin:30px;border: 10px solid transparent;">
                                                            <td>@item.RowNo</td>
                                                            <td class="Label" style="text-align:right;"> @item.FieldName</td>
                                                            <td style="text-align:center;"><input name="TableView_@Model.TableId" class="ICheckTable" type="checkbox" @checkedstr /></td>
                                                        </tr>
                                                        continue;
                                                    }
                                                    else
                                                    {
                                                        <tr data-id="@item.Id" data-fieldid="@item.FieldId" style="margin:30px;border: 10px solid transparent;">
                                                            <td>@item.RowNo</td>
                                                            <td class="Label" style="text-align:right;"> @item.FieldName</td>
                                                            <td style="text-align:center;"><input name="TableView_@Model.TableId" class="ICheckTable" type="checkbox" @checkedstr /></td>
                                                        </tr>
                                                    }

                                                }
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <table class="@Model.TableType table table-sm nowrap table-striped table-bordered table-hover table-checkable display compact" data-header="@Model.HeaderDic" data-table="@Model.TableId" data-url="@Model.SelectTableUrl" data-urledit="@Model.EditUrl" data-urlupdate="@Model.UpdateUrl" data-urldelete="@Model.DeleteUrl" data-urlsubtable="@Model.SubtableUrl" data-trash="@Model.Trash" data-subtable="@Model.SubTable" data-searchterm="@JsonConvert.SerializeObject(Model.SearchTerm)" data-sort="@JsonConvert.SerializeObject(Model.Sort)" data-pagelength="@Model.PageLength" data-notsortable="@Model.NotSortable" data-rightcolumnfixed="@Model.RightColumnFixed" data-leftcolumnfixed="@Model.LeftColumnFixed" style="width:100%">
                    <thead>
                        <tr>
                            @foreach (var item in Model.VisibleHeader)
                            {
                                if (@Model.SeachModelDic.ContainsKey(item.Key))
                                {

                                    <th class="resizeBorder">
                                        <div class="Resizable SearchDiv p-0">

                                            @switch (Model.SeachModelDic[item.Key].ControlType)
                                            {
                                                case Const.ControlTypes.Html:
                                                    break;
                                                case Const.ControlTypes.TextBox:

                                                    <input autocomplete="off" name="@item.Key" type="text" style="min-width:100px;max-width:250px;" class="form-control fieldsearch " autocomplete="off" data-table="@Model.TableId" data-field="@item.Key" placeholder="@item.Value" />
                                                    break;
                                                case Const.ControlTypes.ComboBox:
                                                    if (@Model.SeachModelDic[item.Key].Source.KeySource.Any(x => x.GetSource() is TableSource))
                                                    {
                                                        string sorcestr = JsonConvert.SerializeObject(@Model.SeachModelDic[item.Key].Source.KeySource.Select(x => x.GetSource() as TableSource));
                                                        <select autocomplete="off" name="@item.Key" class="js-data-ajax-multiple fieldsearch" multiple data-placeholder-text="@item.Value" data-selected="{}" data-source="@sorcestr" data-url='/Data/Select' data-onchanged="" data-readonly="False"></select>
                                                    }
                                                    else if (Model.SeachModelDic[item.Key].Source.KeySource.Any(x => x.GetSource() is string))
                                                    {
                                                        string sorcestr = Model.SeachModelDic[item.Key].Source.KeySource.Select(x => x.GetSource() as string).FirstOrDefault();
                                                        <select autocomplete="off" name="@item.Key" class="js-data-ajax-multiple fieldsearch" multiple data-placeholder-text="@item.Value" data-selected="{}" data-source="@sorcestr" data-url='/Data/Select' data-onchanged="" data-readonly="False"></select>
                                                    }
                                                    else if (Model.SeachModelDic[item.Key].Source.KeySource.Any(x => x.GetSource() is ApiSource))
                                                    {
                                                        string sorcestr = JsonConvert.SerializeObject(Model.SeachModelDic[item.Key].Source.KeySource.Select(x => x.GetSource() as ApiSource).FirstOrDefault());
                                                        <select autocomplete="off" name="@item.Key" class="js-data-ajax-multiple fieldsearch" multiple data-placeholder-text="@item.Value" data-selected="{}" data-source="@sorcestr" data-url='/Data/Select' data-onchanged="" data-readonly="False"></select>
                                                    }
                                                    else
                                                    {
                                                        var itemkeyvalue = @Model.SeachModelDic[item.Key].Source.KeySource.Where(x => x.GetSource() is KeyValueSource).Select(x => ((KeyValueSource)x.GetSource()).Items).FirstOrDefault();
                                                        if (itemkeyvalue != null)
                                                        {
                                                            <select autocomplete="off" name="@item.Key" class="select2-multiple fieldsearch" multiple data-newtag="False" data-readonly="False" data-onchanged="">
                                                                <option value=""> </option>
                                                                @foreach (var option in itemkeyvalue)
                                                                {
                                                                    if (!String.IsNullOrWhiteSpace(option.Value) && @Model.SeachModelDic[item.Key].Value != null && option.Key.Equals(@Model.SeachModelDic[item.Key].Value))
                                                                    {
                                                                        <option value="@option.Key" selected="selected">@option.Value</option>
                                                                    }
                                                                    else
                                                                    {
                                                                        <option value="@option.Key">@option.Value</option>
                                                                    }

                                                                }
                                                            </select>
                                                        }

                                                    }
                                                    break;
                                                case Const.ControlTypes.CheckBox:
                                                    <select name="@item.Key" class="select2-multiple fieldsearch" multiple data-newtag="False" data-readonly="False" data-onchanged="">
                                                        <option value="true" data-html="<span class='fas fa-check'></span> Checked"></option>
                                                        <option value="false" data-html="<span class='fas fa-times'></span> Unchecked"></option>
                                                    </select>
                                                    break;
                                                case Const.ControlTypes.SwitchButton:
                                                    <select name="@item.Key" class="select2-multiple fieldsearch" multiple data-newtag="False" data-readonly="False" data-onchanged="">
                                                        <option value="true" data-html="<span class='fas fa-toggle-on'></span> ON"></option>
                                                        <option value="false" data-html="<span class='fas fa-toggle-off'> </span> OFF"></option>
                                                    </select>
                                                    break;
                                                case Const.ControlTypes.SummerNote:
                                                    <input name="@item.Key" class="form-control fieldsearch" placeholder="@item.Value" type="text" />
                                                    break;
                                                case Const.ControlTypes.CodeEditor:
                                                    <input name="@item.Key" style="min-width:100px;max-width:250px;" class="form-control fieldsearch" placeholder="@item.Value" type="text" />
                                                    break;
                                                case Const.ControlTypes.ColorPicker:
                                                    <input name="@item.Key" class="form-control fieldsearch" placeholder="@item.Value" type="text" />
                                                    break;
                                                case Const.ControlTypes.DatetimePicker:


                                                    if (Model.SeachModelDic[item.Key].QueryType == QueryType.RangeQuery)
                                                    {
                                                        string datetimeid = Guid.NewGuid().ToString("N");
                                                        string datetimeid2 = Guid.NewGuid().ToString("N");
                                                        <div class="container">
                                                            <div class="date" style="width:100%;text-align:center; display:none">
                                                                <input id="@datetimeid" name="@item.Key" style="min-width:200px;" autocomplete="off" type="text" size="16" value="" class="form-control fieldsearch input-icon right datetime_picker col-md-5 datetimepicker-input" data-options="@Model.SeachModelDic[item.Key].Options" data-onchanged="" data-target="#@datetimeid" data-toggle="datetimepicker">
                                                                To
                                                                <input id="@datetimeid2" name="@item.Key" style="min-width:200px;" autocomplete="off" type="text" size="16" value="" class="form-control fieldsearch input-icon right datetime_picker col-md-5 datetimepicker-input" data-options="@Model.SeachModelDic[item.Key].Options" data-onchanged="" data-target="#@datetimeid2" data-toggle="datetimepicker">
                                                            </div>
                                                            <i class="fas fa-caret-square-down align-middle" style="cursor:pointer;" onclick="$(this).parent().find('.date').toggle();"></i>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div style="width:100%;text-align:center">
                                                            <span>
                                                                <span class="input-inline" style="width:45%"><input name="@item.Key" autocomplete="off" type="text" size="16" value="" class="form-control fieldsearch input-icon right datetime_picker" data-options="@Model.SeachModelDic[item.Key].Options" data-readonly="False" data-onchanged=""></span>
                                                            </span>
                                                        </div>

                                                    }
                                                    break;
                                                case Const.ControlTypes.CheckList:
                                                case Const.ControlTypes.RadioButton:
                                                    if (@Model.SeachModelDic[item.Key].Source.KeySource.Any(x => x.GetSource() is TableSource))
                                                    {
                                                        string sorcestr = JsonConvert.SerializeObject(@Model.SeachModelDic[item.Key].Source.KeySource.Select(x => x.GetSource() as TableSource));
                                                        <select name="@item.Key" class="js-data-ajax-multiple fieldsearch" multiple data-placeholder-text="@item.Value" data-selected="{}" data-source="@sorcestr" data-url='@Model.SelectUrl' data-onchanged="" data-readonly="False"></select>
                                                    }
                                                    else
                                                    {
                                                        var itemkeyvalue = @Model.SeachModelDic[item.Key].Source.KeySource.Where(x => x.GetSource() is KeyValueSource).Select(x => ((KeyValueSource)x.GetSource()).Items).First();
                                                        <select name="@item.Key" class="select2 fieldsearch" data-newtag="False" data-readonly="False" data-onchanged="">
                                                            <option value=""> </option>
                                                            @foreach (var option in itemkeyvalue)
                                                            {
                                                                if (!String.IsNullOrWhiteSpace(option.Value) && @Model.SeachModelDic[item.Key].Value != null && option.Key.Equals(@Model.SeachModelDic[item.Key].Value))
                                                                {
                                                                    <option value="@option.Key" selected="selected">@option.Value</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@option.Key">@option.Value</option>
                                                                }

                                                            }
                                                        </select>
                                                    }
                                                    break;
                                                case Const.ControlTypes.InputMask:
                                                    <input name="@item.Key" autocomplete="off" type="text" class="form-control fieldsearch Mask" style="min-width:100px;max-width:250px;" placeholder="@item.Value" data-options="@Model.SeachModelDic[item.Key].Options" />
                                                    break;
                                                case Const.ControlTypes.KeyValueBox:
                                                    {
                                                        @*<div class="container">
                        @{
                            DropdownModel keydropdown = MVCExt.ControlComboBox(@item.Value, "", "", false, new List<string>
                            (), @Model.SeachModelDic[item.Key].Source.KeySource, "", false, false, 0, null, "col-md-4");
                            DropdownModel valuedropdown = MVCExt.ControlComboBox(@item.Value, "", "", false, new List<string>
                                (), @Model.SeachModelDic[item.Key].Source.ValueSource, "", false, false, 0, null, "col-md-4");
                        }

                        <div class="col-md-12 ikeyvalue" style="min-width:250px !important;display:none;padding:0px !important;" data-valuesourcemultiplevalue="@Model.SeachModelDic[item.Key].Source.ValueSourceMultipleValue.ToString().ToLower()" data-keyurl="@Model.SelectUrl" data-keysource="@keydropdown.DataSorceToString()" data-keyplaceholder="@keydropdown.Name" data-valueurl="@Model.SelectUrl" data-valuesource="@valuedropdown.DataSorceToString()" data-valueplaceholder="@valuedropdown.Name" data-selectedkeyvalue="{}">

                        </div>
                        <i class="fas fa-caret-square-down align-middle" style="cursor:pointer;" onclick="$(this).parent().find('.ikeyvalue').toggle();"></i>
                    </div>*@
                                                        break;
                                                    }

                                                default:
                                                    <input name="@item.Key" type="text" autocomplete="off" class="form-control fieldsearch" style="min-width:100px;max-width:250px;" placeholder="@item.Value" />
                                                    break;
                                            }

                                        </div>

                                    </th>
                                }
                                else
                                {
                                    if (item.Value.Equals(FieldNames.Button))
                                    {
                                        <th class="tablebutton">
                                            @if (!Model.Trash)
                                            {
                                                <span class='FirstColumnTable'>
                                                    <button type='button' class='btn btn-sm text-success' onclick="EditTableRecord(this,true)" data-tablename="@Model.TableId" data-url='@Model.EditUrl' data-urlupdate="@Model.UpdateUrl" data-searchterm='@JsonConvert.SerializeObject(Model.SearchTerm)'><i class='fas fa-plus'></i></button>
                                                    <button type='button' class='btn btn-sm text-success' onclick="$(this).closest('.DTFC_ScrollWrapper').find('.bulkeditrows').toggle(); $(this).children().toggleClass('text-succes text-dark  fa-minus-square fa-edit'); $($.fn.dataTable.tables(true)).DataTable().columns.adjust().draw();" data-tablename="@Model.TableId" data-url='@Model.EditUrl' data-urlupdate="@Model.UpdateUrl" data-searchterm='@JsonConvert.SerializeObject(Model.SearchTerm)'><i class='fas fa-edit'></i></button>
                                                </span>
                                            }

                                        </th>
                                                                    }
                                                                    else
                                                                    {
                                        <th></th>
                                                                        }
                                                                    }
                                                                }
                        </tr>
                        <tr class="bulkeditrows" style="display:none;">
                            @{string onchangebulkEdit = "var fn=onchangebulkEditField;var data={};"; }
                            @foreach (var item in Model.VisibleHeader)
                            {
                                if (@Model.SeachModelDic.ContainsKey(item.Key))
                                {
                                    string multiplestr = @Model.SeachModelDic[item.Key].MultipleValue ? "multiple" : "";
                            <th class="resizeBorder">
                                <div class="d-flex flex-row-reverse" style="max-width:600px;" >
                                    <i class="fas fa-times-circle m-2 cancelchange" style="cursor:pointer;display:none;" onclick="CancelBulkChange(this);"></i>
                                </div>
                                
                                <div class="Resizable d-flex flex-row" style="max-width:600px;">

                                    @switch (Model.SeachModelDic[item.Key].ControlType)
                                    {
                                        case Const.ControlTypes.Html:
                                            break;
                                        case Const.ControlTypes.TextBox:
                                            <input name="@item.Key" type="text" class="form-control bulkupdate autocomplete textbox" style="min-width:100px;max-width:250px;" data-field="@item.Key" placeholder="@item.Value" data-onchanged="@onchangebulkEdit" />
                                            break;
                                        case Const.ControlTypes.ComboBox:


                                            if (@Model.SeachModelDic[item.Key].Source.KeySource.Any(x => x.GetSource() is TableSource))
                                            {
                                                string sorcestr = JsonConvert.SerializeObject(@Model.SeachModelDic[item.Key].Source.KeySource.Select(x => x.GetSource() as TableSource));
                                                <select name="@item.Key" class="js-data-ajax-multiple bulkupdate inputtype" @multiplestr data-placeholder-text="@item.Value" data-selected="{}" data-source="@sorcestr" data-url='/Data/Select' data-onchanged="@onchangebulkEdit" data-readonly="False"></select>
                                            }
                                            else if (Model.SeachModelDic[item.Key].Source.KeySource.Any(x => x.GetSource() is string))
                                            {
                                                string sorcestr = Model.SeachModelDic[item.Key].Source.KeySource.Select(x => x.GetSource() as string).FirstOrDefault();
                                                <select name="@item.Key" class="js-data-ajax-multiple bulkupdate inputtype" @multiplestr data-placeholder-text="@item.Value" data-selected="{}" data-source="@sorcestr" data-url='/Data/Select' data-onchanged="@onchangebulkEdit" data-readonly="False"></select>
                                            }
                                            else if (Model.SeachModelDic[item.Key].Source.KeySource.Any(x => x.GetSource() is ApiSource))
                                            {
                                                string sorcestr = JsonConvert.SerializeObject(Model.SeachModelDic[item.Key].Source.KeySource.Select(x => x.GetSource() as ApiSource).FirstOrDefault());
                                                <select autocomplete="off" name="@item.Key" class="js-data-ajax-multiple fieldsearch" multiple data-placeholder-text="@item.Value" data-selected="{}" data-source="@sorcestr" data-url='/Data/Select' data-onchanged="" data-readonly="False"></select>
                                            }
                                            else
                                            {
                                                var itemkeyvalue = @Model.SeachModelDic[item.Key].Source.KeySource.Where(x => x.GetSource() is KeyValueSource).Select(x => ((KeyValueSource)x.GetSource()).Items).FirstOrDefault();
                                                if (itemkeyvalue != null)
                                                {
                                                    <select name="@item.Key" class="select2-multiple bulkupdate inputtype" multiple data-newtag="False" data-readonly="False" data-onchanged="@onchangebulkEdit">
                                                        <option value=""> </option>
                                                        @foreach (var option in itemkeyvalue)
                                                        {
                                                            if (!String.IsNullOrWhiteSpace(option.Value) && @Model.SeachModelDic[item.Key].Value != null && option.Key.Equals(@Model.SeachModelDic[item.Key].Value))
                                                            {
                                                                <option value="@option.Key" selected="selected">@option.Value</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@option.Key">@option.Value</option>
                                                            }

                                                        }
                                                    </select>
                                                }

                                            }
                                            break;
                                        case Const.ControlTypes.CheckBox:
                                            <input name="@item.Key" type="checkbox" class="ICheck bulkupdate inputtype" data-readonly="@Model.SeachModelDic[item.Key].ReadOnly" data-onchanged="@onchangebulkEdit">

                                            break;
                                        case Const.ControlTypes.SwitchButton:
                                            <div class="col-md-12">
                                                <input name="@item.Key" type="checkbox" class="switchbox form-control bulkupdate" data-readonly="@Model.SeachModelDic[item.Key].ReadOnly" data-onchanged="@onchangebulkEdit" data-options="@Model.SeachModelDic[item.Key].Options">
                                            </div>

                                            break;
                                        case Const.ControlTypes.SummerNote:
                                            <div>
                                                <div class="summerdiv" style="display:none;">
                                                    <input name="@item.Key" class="form-control Summernote bulkupdate" placeholder="@item.Value" type="text" data-onchanged="@onchangebulkEdit" data-options="{'toolbar': false,height: 100,'width':250}" />
                                                </div>
                                                <i class="fas fa-caret-square-down align-middle" style="cursor:pointer;" onclick="$(this).parent().find('.summerdiv').toggle();"></i>
                                            </div>


                                            break;
                                        case Const.ControlTypes.CodeEditor:
                                            <div class="editorContainer">
                                                <div class="row ">
                                                    <div class="editortoolbar col-md-12"></div>
                                                </div>
                                                <div>
                                                    <div name="@item.Key" class="codeEditor bulkupdate" style="display:none;width:500px;height:200px" data-value="" data-readonly="@Model.SeachModelDic[item.Key].ReadOnly" placeholder="@item.Value" type="text" data-options="{'minLines':4,'maxLines':20}" data-onchanged="@onchangebulkEdit" />
                                                    <i class="fas fa-caret-square-down align-middle" style="cursor:pointer;" onclick="$(this).parent().find('.codeEditor').toggle();"></i>
                                                </div>
                                            </div>


                                            break;
                                        case Const.ControlTypes.ColorPicker:
                                            <input name="@item.Key" class="form-control colorpicker bulkupdate" autocomplete="off" placeholder="@item.Value" type="text" data-onchanged="@onchangebulkEdit" />
                                            break;
                                        case Const.ControlTypes.DatetimePicker:
                                            string datetimeid = Guid.NewGuid().ToString("N");
                                            <div class="container">
                                                <div class="date">
                                                    <input id="@datetimeid" name="@item.Key" style="min-width:200px;" autocomplete="off" type="text" size="16" value="" class="form-control fieldsearch input-icon right datetime_picker col-md-5 datetimepicker-input bulkupdate" data-options="@Model.SeachModelDic[item.Key].Options" data-onchanged="@onchangebulkEdit" data-target="#@datetimeid" data-toggle="datetimepicker">
                                                </div>
                                            </div>
                                            break;
                                        case Const.ControlTypes.CheckList:
                                            {
                                                string onchangeForm = "";
                                                CheckListModel cklmodel;
                                                string oncheckAll = "var fn=OnAllToggleCheck; var data={id:'',name:'" + item.Key + "'}";
                                                List<string>
                                                    itemsChecklist = new List<string>();
                                                Dictionary<string, string> CheckListitems;
                                                if (@Model.SeachModelDic[item.Key].Source.KeySource.Any(x => x.GetSource() is TableSource))
                                                {
                                                    CheckListitems = MVCExt.GetItems(user.id, @Model.SeachModelDic[item.Key].Source.KeySource.Where(x => x.GetSource() is TableSource).Select(x => x.GetSource() as TableSource).ToList(), new List<string>() { "" }, false, LuceneQuery.QueryParse, LuceneOccur.SHOULD);
                                                }
                                                else
                                                {
                                                    CheckListitems = @Model.SeachModelDic[item.Key].Source.KeySource.Where(x => x.GetSource() is KeyValueSource).Select(x => ((KeyValueSource)x.GetSource()).Items).FirstOrDefault();

                                                }
                                                cklmodel = MVCExt.ControlCheckList(item.Key, "", itemsChecklist, CheckListitems, onchangeForm, oncheckAll, Model.SeachModelDic[item.Key].ReadOnly, 0);

                                                cklmodel.SelectUrl = Url.Action("Select", "Data");
                                                <div class="md-checkbox-list bulkupdate" name="@item.Key" data-onchanged="@onchangebulkEdit" data-readonly="@cklmodel.ReadOnly" data-fieldname="@cklmodel.Name" style="display:none;">
                                                    <div class="md-checkbox">
                                                        <label class="">
                                                            <input type="checkbox" class="ICheckList" data-name="@cklmodel.Name" data-onchanged="@cklmodel.OnCheckAllEvent">
                                                            All
                                                        </label>
                                                    </div>
                                                    @foreach (var check in cklmodel.Items)
                                                    {
                                                        <div class="md-checkbox">
                                                            <label class="">
                                                                <input type="checkbox" class="ICheckList" data-onchanged="var fn=onchecklistchange;var data={};" name="@cklmodel.Name" value="@check.Key" @Html.Raw(@cklmodel.CustomData)>
                                                                @check.Value
                                                            </label>
                                                        </div>
                                                    }

                                                </div>
                                                <i class="fas fa-caret-square-down align-middle" style="cursor:pointer;" onclick="$(this).parent().find('.md-checkbox-list').toggle();adjustdatatable();"></i>

                                            }

                                            break;
                                        case Const.ControlTypes.RadioButton:
                                            {

                                                RadioModel rdcontrol;
                                                Dictionary<string, string>
                                                    radioItem;
                                                if (@Model.SeachModelDic[item.Key].Source.KeySource.Any(x => x.GetSource() is TableSource))
                                                {
                                                    radioItem = MVCExt.GetItems(user.id, @Model.SeachModelDic[item.Key].Source.KeySource.Where(x => x.GetSource() is TableSource).Select(x => x.GetSource() as TableSource).ToList(), new List<string>
                                                        () { "" }, false, LuceneQuery.QueryParse,
                                                        LuceneOccur.SHOULD);
                                                }
                                                else
                                                {
                                                    radioItem = @Model.SeachModelDic[item.Key].Source.KeySource.Where(x => x.GetSource() is KeyValueSource).Select(x => ((KeyValueSource)x.GetSource()).Items).FirstOrDefault();
                                                }
                                                <div class="md-radio-list bulkupdate ICheckRadio" name="@item.Key" data-onchanged="@onchangebulkEdit" style="display:none;">
                                                    @foreach (var radio in radioItem)
                                                    {
                                                        <div class="md-radio ">
                                                            <input class="ICheckRadio" type="radio" name="@item.Key" value="@radio.Key">
                                                            <label class="Label">@radio.Value</label>
                                                        </div>
                                                    }
                                                </div>
                                                <i class="fas fa-caret-square-down align-middle" style="cursor:pointer;" onclick="$(this).parent().find('.md-radio-list').toggle();adjustdatatable();"></i>
                                            }

                                            break;
                                        case Const.ControlTypes.InputMask:
                                            <input name="@item.Key" type="text" class="form-control  Mask bulkupdate" style="min-width:100px;max-width:250px;" placeholder="@item.Value" data-options="@Model.SeachModelDic[item.Key].Options" data-onchanged="@onchangebulkEdit" />
                                            break;
                                        case Const.ControlTypes.KeyValueBox:
                                            {
                                                <div class="container">
                                                    @{
                                                        DropdownModel keydropdown = MVCExt.ControlComboBox(@item.Value, "", "", false, new List<string>
                                                        (), @Model.SeachModelDic[item.Key].Source.KeySource, "", false, false, 0, null, "col-md-4");
                                                        DropdownModel valuedropdown = MVCExt.ControlComboBox(@item.Value, "", "", false, new List<string>
                                                            (), @Model.SeachModelDic[item.Key].Source.ValueSource, "", false, false, 0, null, "col-md-4");
                                                    }

                                                    <div class="col-md-12 ikeyvalue bulkupdate" name="@item.Key" style="min-width:250px !important;display:none;padding:0px !important;" data-valuesourcemultiplevalue="@Model.SeachModelDic[item.Key].Source.ValueSourceMultipleValue.ToString().ToLower()" data-keyurl="@Model.SelectUrl" data-keysource="@keydropdown.DataSorceToString()" data-keyplaceholder="@keydropdown.Name" data-valueurl="@Model.SelectUrl" data-valuesource="@valuedropdown.DataSorceToString()" data-valueplaceholder="@valuedropdown.Name" data-selectedkeyvalue="{}" data-onchanged="@onchangebulkEdit">

                                                    </div>
                                                    <i class="fas fa-caret-square-down align-middle" style="cursor:pointer;" onclick="$(this).parent().find('.ikeyvalue').toggle();adjustdatatable();"></i>
                                                </div>


                                            }
                                            break;
                                        case Const.ControlTypes.EncrytText:
                                            {
                                                <input name="@item.Key" class="form-control bulkupdate encryptedtext" autocomplete="off" style="min-width:100px;max-width:250px;" type="password" data-onchanged="@onchangebulkEdit" />
                                            }
                                            break;
                                        case Const.ControlTypes.SortableComboBox:
                                            {
                                                DropdownModel controlsortable;
                                                controlsortable = MVCExt.ControlSortableComboBox(item.Key, @Model.SeachModelDic[item.Key].Text, "", new List<string>
                                                    (), @Model.SeachModelDic[item.Key].Source.KeySource, "", false, Model.SeachModelDic[item.Key].ReadOnly, 0, null, null);
                                                controlsortable.SelectUrl = "/Data/Select";
                                                <div class="select2sortable bulkupdate col-md-12" name="@item.Key" style="width:100%" data-selected="{}" data-source="@controlsortable.DataSorceToString()" data-url='@controlsortable.SelectUrl' data-readonly="@controlsortable.ReadOnly" data-onchanged="@onchangebulkEdit">
                                                    @if (controlsortable.Serverside)
                                                    {
                                                        <select class="@controlsortable.ClassName" @controlsortable.Multiple data-onchanged="@onchangebulkEdit"></select>

                                                    }
                                                    else
                                                    {
                                                        <select class="@controlsortable.ClassName" @controlsortable.Multiple data-newtag="@controlsortable.NewTag" data-readonly="@controlsortable.ReadOnly" data-onchanged="@onchangebulkEdit">
                                                            @foreach (var x in controlsortable.Items)
                                                            {
                                                                <option value="@x.Key">@x.Value</option>
                                                            }
                                                        </select>
                                                    }
                                                </div>
                                            }

                                            break;
                                        case Const.ControlTypes.SourceEditor:
                                            <div class="col-md-12" style="max-width:600px;">
                                                <div name="@item.Key" class="sourceEditor bulkupdate" style="display:none;" data-showvaluesource="true" data-tablename="" data-recordid="" data-onchanged="@onchangebulkEdit" data-readonly="@Model.SeachModelDic[item.Key].ReadOnly" data-value="">

                                                </div>
                                                <i class="fas fa-caret-square-down align-middle" style="cursor:pointer;" onclick="$(this).parent().find('.sourceEditor').toggle();adjustdatatable();"></i>
                                            </div>
                                            break;
                                        default:

                                            break;
                                    }

                                </div>

                            </th>
                                }
                                else
                                {
                                    if (item.Value.Equals(FieldNames.Button))
                                    {
                                        <th class="tablebutton">
                                            @if (!Model.Trash)
                                            {
                                                <span class='FirstColumnTable'>
                                                    <button type='button' class='btn btn-sm text-danger' onclick="SaveTableRecord(this)" data-tablename="@Model.TableId"  data-searchterm='@JsonConvert.SerializeObject(Model.SearchTerm)'><i class='fas fa-save'></i></button>

                                                </span>
                                            }

                                        </th>
                                    }
                                    else
                                    {
                                        <th></th>
                                    }
                                }
                            }
                        </tr>
                        <tr role="row" class="heading">

                            @foreach (var item in Model.VisibleHeader)
                            {
                                <th class="tableHeader" name="@item.Key">@Html.Raw(@item.Value)</th>

                            }
                        </tr>

                    </thead>

                    @if (@Model.Footer)
                    {
                        <tfoot class="tfooter">
                            <tr>
                                @foreach (var item in Model.VisibleHeader)
                                {
                                    <td name="@item.Key"></td>
                                }
                            </tr>
                        </tfoot>
                    }

                </table>
            </div>
        </div>
    </div>
</div>

