﻿@model IEnumerable<MVCCore.Models.TabTableModel>
@using Newtonsoft.Json;
@{bool setActive = false;
    string defaultTabId = string.Empty;
    }
<div class="subportlet portlet light bordered col-md-12">
    <div class="portlet-body">
        <ul class="nav nav-tabs">
            @foreach (var item in @Model)
            {
                <li class="nav-item" name="@item.TabId">
                    <a class="nav-link" href="#Tab_@item.TabId" data-toggle="tab" onclick="InitTabTable(this,'@item.TabId','@item.TabNameJson')" data-searchterm="@JsonConvert.SerializeObject(item.SoftFilter)">@item.TabText</a>
                </li>    
            }
        </ul>
        @{setActive = false;}
        <div class="tab-content">
            @foreach (var item in @Model)
            {
                if (!setActive )
                {
                    defaultTabId = @item.TabId;
                    setActive = true;
                    <div class="tab-pane fade active in" id="Tab_@item.TabId">
                        <div>Test</div>
                    </div>
                }
                else
                {
                    <div class="tab-pane fade" id="Tab_@item.TabId">
                        <div>Test</div>
                    </div>
                }
            }
        </div>
        <div class="clearfix margin-bottom-20"> </div>
    </div>
</div>

<script>
    setTimeout(function () {
            $('#Tab_' + '@defaultTabId').click();
    }, 3000);


</script>