﻿@model MVCCore.Models.InputModel
<div style="width:@Model.Width;">
    <input name="@Model.Name@Model.RecordId" type="checkbox" class="ICheckTable FieldInput" data-onchanged="@Model.OnChangedEvent" value="@Model.Value" @Model.CustomData data-readonly="@Model.ReadOnly">
    @await Html.PartialAsync("Component/InfoBlockView", @Model)
</div>