﻿@model MVCCore.Models.CheckListModel
<div class="FieldInput md-checkbox-list @Model.ClassName" data-readonly="@Model.ReadOnly" data-fieldname="@Model.Name">
    <div class="md-checkbox">
        <input type="checkbox" data-fieldname="@Model.Name" class="ICheckList" data-onchanged="@Model.OnCheckAllEvent">
        <label class="">All</label>
    </div>
    @foreach (var check in @Model.Items)
    {
        <div class="md-checkbox">
            @if (Model.SelectedValues.Contains(check.Key))
            {
                <input type="checkbox" class="ICheckList" name="@Model.Name@Model.RecordId" data-onchanged="@Model.OnChangedEvent" value="@check.Key" @Html.Raw(@Model.CustomData) checked>
                <label class="">@check.Value</label>
            }
            else
            {
                <input type="checkbox" class="ICheckList" name="@Model.Name@Model.RecordId" data-onchanged="@Model.OnChangedEvent" value="@check.Key" @Html.Raw(@Model.CustomData)>
                <label class="">@check.Value</label>

            }
        </div>
    }
    @await Html.PartialAsync("Component/InfoBlockView", @Model)
</div>





