﻿@using MVCCore.Models
@model DownloadCsvViewModel
<div class="col-12">
    @foreach(var table in @Model.TableIdToNameDic)
    {
        <div style="overflow:auto;">
            @table.Value <span style="padding-left:20px;"><input name="" type="checkbox" class="ICheck " checked data-onchanged="var fn=ToggleAllDownloadCSVCheck; var data={id:'@table.Key',name:'@table.Value'}" /></span>
            <table class="table table-sm nowrap table-striped table-bordered table-hover table-checkable display compact" data-header="{}" data-table="@table.Key" data-url="/Data/Select" data-urledit="" data-urlupdate="" data-urldelete="" data-urlsubtable="" data-trash="" data-subtable="" data-searchterm="{}" data-pagelength="" data-notsortable="{}">
                <thead>
                    <tr role="row" class="heading">
                        @foreach (var field in Model.TableIdToFieldView[@table.Key])
                        {
                            string checkedstate = @field.Enable ? "checked" : "";
                            <th nowrap class="tableHeader ">@field.FieldName <span style="padding-left:20px;"><input name="@field.FieldId" type="checkbox" class="ICheck @table.Key csvfield" @checkedstate /></span></th>

                        }
                         </tr>
                </thead>
            </table>
        </div>
    
    }


</div>

<div>
    <button class="btn btn-primary" onclick="DownloadCheckedCSV()">Download</button>
</div>




