﻿@model MVCCore.Models.DateTimePickerModel
@{
    string datetimeid = Guid.NewGuid().ToString("N");
}
<div style="width:@Model.Width">
    <div class="@Model.ValueColMd">
        <div id="@Model.Name" data-target-input="nearest" name="@Model.Name@Model.RecordId" class="input-icon right datetime_picker @Model.ClassName" data-onchanged="@Model.OnChangedEvent" data-options="@Model.Options" data-readonly="@Model.ReadOnly">
            <input id="@datetimeid" type="text" size="20" data-target="#@Model.Name" value="@Model.Value" class="input-inline form-control" readonly>
            <span class="input-group-btn input-inline" data-target="#@Model.Name" data-toggle="datetimepicker">
                <div class="input-group-text">
                    <i class="fas fa-calendar"></i>
                </div>
            </span>
        </div>
        @await Html.PartialAsync("Component/InfoBlockView", @Model)
    </div>

</div>