﻿@model MVCCore.Models.ControlModel
@if (!string.IsNullOrWhiteSpace(@Model.TableName))
{
        <a  onclick="GetHistory(this);" data-url='@Model.HistoryUrl' data-tablename='@Model.TableName' data-recordid='@Model.RecordId' data-fieldname='@Model.Name'><i class="fas fa-history"></i>&nbsp;@Model.HistoryCount</a>
    
}