﻿@model MVCCore.Models.ControlModel
@if (!string.IsNullOrWhiteSpace(Model.HelpBlock))
{
    <a data-target="#@Model.Name" data-toggle="modal" title="Info"><i class="fas fa-info"></i></a>
    <div class="modal fade" id="@Model.Name" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog momodel modal-fluid" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Hint</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @Html.Raw(Model.HelpBlock)
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}
