﻿@model MVCCore.Models.InputModel
<div name="@Model.Name"  style="width:@Model.Width">
    <input name="@Model.Name@Model.RecordId" type="@Model.Type" value="@Model.Value" class="FieldInput form-control @Model.ClassName " placeholder="@if (!string.IsNullOrWhiteSpace(@Model.PlaceHolder)){@Model.PlaceHolder}" data-onchanged="@Model.OnChangedEvent" @Html.Raw(@Model.CustomData) data-readonly="@Model.ReadOnly" />
    @await Html.PartialAsync("Component/InfoBlockView", @Model)

 </div>