﻿@model MVCCore.Models.InputModel
<div style="width:@Model.Width;">
    <input name="@Model.Name@Model.RecordId" type="text" class="form-control Mask FieldInput" data-onchanged="@Model.OnChangedEvent" value="@Model.Value" data-maskoption="@Model.CustomData" >
    @await Html.PartialAsync("Component/InfoBlockView", @Model)
</div>