﻿@model MVCCore.Models.RadioModel
<div class="FieldInput ICheckRadio @Model.ClassName" data-readonly="@Model.ReadOnly" data-onchanged="@Model.OnChangedEvent">
    @if (Model.Inline)
    {
        <div class="icheck-inline">
            @foreach (var radio in @Model.Items)
            {
                if (radio.Key.Equals(Model.Value))
                {
                    <label class="">
                <input class="FieldInput form-control" type="radio" checked name="@Model.Name@Model.RecordId" value="@radio.Key" @Html.Raw(@Model.CustomData)>
                @radio.Value
            </label>
                }
                else
                { <label class="">
                <input class="FieldInput form-control" type="radio" name="@Model.Name@Model.RecordId" value="@radio.Key" @Html.Raw(@Model.CustomData)>
                @radio.Value
            </label>

                }
            }
   
        </div>
    }
    else
    {
        <div class="md-radio-list">
            @foreach (var radio in @Model.Items)
            {
                <div class="md-radio">
                    @if (radio.Key.Equals(Model.Value))
                    {
                        <input class="FieldInput form-control" type="radio" checked name="@Model.Name@Model.RecordId" value="@radio.Key" @Html.Raw(@Model.CustomData)>
                        <label class="">@radio.Value</label>
                    }
                    else
                    {
                        <input class="FieldInput form-control" type="radio" name="@Model.Name@Model.RecordId" value="@radio.Key" @Html.Raw(@Model.CustomData)>
                        <label class="">@radio.Value</label>

                    }
                </div>
            }
        </div>
    }
   
    @await Html.PartialAsync("Component/InfoBlockView", @Model)
</div>

