﻿@model MVCCore.Models.DropdownModel
@using Core
@{

    //No event use for this case
    var changeevent = Model.OnChangedEvent;
    var guid = string.Empty;

}
<div class="@Model.ValueColMd" style="width:@Model.Width;">
    @if (Model.Serverside)
    {
         <select id="@Model.ControlId" name="@Model.Name@Model.RecordId" class="@Model.ClassName" @Model.Multiple data-control-id="@Model.ControlId" data-placeholder-text="@Model.PlaceHolder" data-selected="@Model.SelectedValuesToString()" data-source="@Model.DataSorceToString()" data-url='@Model.SelectUrl' data-onchanged="@Model.OnChangedEvent" data-readonly="@Model.ReadOnly"></select>
    
    }
    else
    {
        <select id="@Model.ControlId" name="@Model.Name@Model.RecordId" class="@Model.ClassName" @Model.Multiple data-control-id="@Model.ControlId" data-newtag="@Model.NewTag" data-readonly="@Model.ReadOnly" data-onchanged="@Model.OnChangedEvent">
            @foreach (var item in Model.Items)
            {
                string selected = Model.SelectedValues.Contains(item.Key) ? "selected" : "";
                @Html.Raw("<option value=\"" + @item.Key + "\"  "+selected+" >" + @item.Value + "</option>")
                
                
            }
        </select>
    }
    @await Html.PartialAsync("Component/InfoBlockView", @Model)
   
</div>