﻿@using MVCCore.Models
@model MVCCore.Models.ListModel
<div style="width:@Model.Width;">
    <ul class="sortablelist" name="@Model.Name@Model.RecordId">
        @foreach (var item in Model.Items)
        {
            <li name="@item.Key">@item.Description</li>

        }
    </ul>
        @await Html.PartialAsync("Component/InfoBlockView", @Model)
</div>
