﻿@model MVCCore.Models.InputModel
<div style="width:@Model.Width;">
    <input name="@Model.Name@Model.RecordId" type="checkbox" class="FieldInput switchbox" data-onchanged="@Model.OnChangedEvent" value="@Model.Value" data-readonly="@Model.ReadOnly" @Model.CustomData>
    @await Html.PartialAsync("Component/InfoBlockView", @Model)
</div>